@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}
@mixin fluid-type($min-font-size, $max-font-size) {
	font-size: $min-font-size;
	@include media($phone) {
		font-size: calc(
			#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
				((100vw - 300px) / #{strip-unit(1200px - 300px)})
		);
	}
	@include media($desktop) {
		font-size: $max-font-size;
	}
}
