/*
Theme Name: Gourmet Nuts & Dried Fruits
Theme URI: http://underscores.me/
Author: Automattic
Author URI: http://automattic.com/
Description: Hi. I'm a starter theme called <code>Gourmet Nuts & Dried Fruits</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Gourmet Nuts & Dried Fruits
Tags: custom

This theme, like WordPress, is licensed under the GPL.

Based on Underscores http://underscores.me/, (C) 2012-2017 Automattic, Inc.
*/

//-----------------------------------------
// Utilities
//-----------------------------------------

// Helper functions.
@import 'utilities/functions/index';

// Mixins.
@import 'utilities/mixins/index';

// Global variables.
@import 'utilities/variables/index';

// Quick Helpers.
@import 'utilities/helpers/index';

//-----------------------------------------
// Theme Styles
//-----------------------------------------

.edit-post-visual-editor,
.block-editor-inserter__preview {

	// Global elements.
	@import 'gutenberg/gutenberg-wp-block';

	.acf-block-preview {
		-moz-font-feature-settings: 'liga', 'kern'; // Control over advanced typographic features in OpenType fonts.
		-moz-osx-font-smoothing: grayscale; // Control the application of anti-aliasing when fonts are rendered in OS X.
		-webkit-font-smoothing: antialiased; // Control the application of anti-aliasing when fonts are rendered.
		color: $color-text-main;
		font-family: $font-sans;
		font-feature-settings: 'liga', 'kern'; // Control over advanced typographic features in OpenType fonts.
		line-height: $line-height-body;
		text-rendering: optimizeLegibility; // Improved kerning pairs & ligatures

		// Global elements.
		@import 'base/index';

		// Layout.
		@import 'structure/index';

		// Modules.
		@import 'modules/index';

		// Gutenberg overrides.
		@import 'gutenberg/index';

		.hero-block-content {
			height: unset;
		}

		.carousel-block {

			.slide,
			.slick-slide div {
				height: unset;
			}
		}
	}
}
