//--------------------------------------------------------------
// Global and Shared Navigation Styles.
//--------------------------------------------------------------

// Default menu (active after a fresh WordPress install).
.gns-navigation, nav.main-navigation {
	@include list-reset;

	ul, ul.menu {
		@include list-reset;

		li {
			// Menu hyperlinks
			a:link {
				display: block;
				text-decoration: none;
				box-shadow: none;
			} // a
		} // li

		// Dropdowns.
		&.sub-menu {
			@include padding(rem(10));

			background: $color-background-submenu;

			li {
				@include margin(0);
			} // li
		} // &.sub-menu
	} // ul

	// For list items with sub-menu items
	.menu-item-has-children {
		.menu-item-has-children {
			// Rotate to the right to point toward the direction of the dropdown
			.caret-down {
				transform: rotate(-90deg) translateX(rem(2));
			} // .caret-down
		} // .menu-item-has-children
	} // .menu-item-has-children

	// Current items
	.current_page_item a,
	.current-menu-item a {
		color: $color-link-hover;
	} // .current_page_item a, .current-menu-item a
} // .menu

//-----------------------------------------
// Caret down.
//-----------------------------------------
.caret-down {
	@include size(rem(10), rem(20));

	background: url('assets/images/svg-icons/caret-down.svg') no-repeat transparent;
	background-size: 100%;
	display: inline-block;
	margin-left: rem(5);
	vertical-align: middle;
} // .caret-down
