//--------------------------------------------------------------
// Main Navigation — Desktop.
//--------------------------------------------------------------

.main-navigation {
	flex: 0 0 auto;
	width: 100%;

	.header-main {
		display: flex;
		justify-content: space-between;
		margin: auto;
		padding: 0;

		li.current_page_item.menu-item {
			a:link, a, a:visited {
				color: $gn-white;

				&:hover, &:active {
					color: $gn-light-brown;
				}
			}
		} // li.current_page_item.menu-item

		&__primary {
			display: none;

			// tablet styles start
			@include media($tablet-portrait) {
				display: block;

				.menu-item {
					margin: 0 0.6rem;
					text-decoration: underline white;
					line-height: 1.2;
				}
			} // tablet styles end

			@include media($desktop) {
				.menu-item {
					margin: 0 .6rem;
					text-decoration: none;
					line-height: inherit;
				}
			}
		} // .header-main__primary

		.header-main__secondary {
			width: 100%;
			display: flex; 
			justify-content: center;

			#category-menu {
				display: flex;
				align-items: center;

				li.nuts.menu-item,
				li.fruits.menu-item,
				li.seeds.menu-item {
					a:link {
						font-weight: 600;

						&::before {
							content: "";
							width: .8rem;
							height: .8rem;
							background-size: contain;
							display: block;
							background-repeat: no-repeat;
							position: absolute;
							top: 0px;
							left: -1rem;
							background-size: .8rem;

							@include media($tablet-landscape) {
								width: 1rem;
								height: 1rem;
								background-size: cover;
								display: block;
								background-repeat: no-repeat;
								position: absolute;
								top: 3px;
								left: -30px;
							}
						} // a:link::before
					} // a:link
				} // .nuts, .fruits

				li.fruits.menu-item {
					a:link, a {
						margin-right: 0rem;
						color: $gn-green !important;

						&:visited {
							margin-right: 0rem;
							color: $gn-green !important;
						} // &:visited

						&:hover, &:active {
							color: $gn-bright-green !important;
						} // &:hover, &:active

						&::before {
							background-image: url(./assets/images/icon-figs.svg);
						} // a:link::before
					} // a:link
				} // .fruits

				li.nuts.menu-item {
					a:link, a {
						margin-right: 0;
						color: $gn-orange !important;

						&:visited {
							color: $gn-orange !important;
						} // &:visited

						&:hover,
						&:active {
							margin-right: 0;
							color: $gn-bright-orange !important;
						} //  &:hover, &:active

						&::before {
							background-image: url(./assets/images/almonds-orange.svg);
						} // a:link::before
					} // a:link
				} // li.nuts.menu-item

				li.seeds.menu-item {
					a:link, a {
						margin-right: 0rem;
						color: $gn-yellow !important;

						&:visited {
							color: $gn-yellow !important;
						} // &:visited

						&:hover,
						&:active {
							margin-right: 0rem;
							color: $gn-bright-yellow !important;
						} //  &:hover, &:active

						&::before {
							background-image: url(./assets/images/seeds-yellow.svg);
						} // a:link::before
					} // a:link
				} // li.seeds.menu-item
			} // #category-menu

			.s-hide {
				display: none;

				@include media($tablet-landscape) {
					display: block;
				}
			} // .s-hide

			.menu {
				display: flex;
				justify-content: flex-end;
			} // .menu

			@include media($tablet-landscape) {
				width: initial;
			}
		} // .header-main__secondary
	} // .header-main

	// Menu area
	ul {
		display: none;
		width: 100%;

		li {
			@include margin(0 rem(12));
			display: inline-block;

			&.search {
				@include margin(0);
			} // &.search

			a.search_icon {
				color: $gn-light-brown;
			}

			a:link, a, a:visited {
				font-weight: normal;
				font-size: 0.6rem;
				color: $gn-white;

				&:hover, &:active {
					color: $gn-light-brown;
				}

				@include media($tablet-portrait) {
					font-size: 0.8rem;
				}
			}

			@include media($tablet-portrait) {
				@include margin(0 rem(19));
			}
		} // li

		li:first-child {
			margin-left: 0;
		} // li

		li:last-child {
			margin-right: 0;
		} // li

		@include media($phone) {
			@include margin(null auto);
			@include padding(null $gutter);

			display: block;
			max-width: $max-width;
		} 

		@include media($container-offset) {
			@include padding(null 0);
		}
	} // ul

	&.toggled {
		ul {
			display: block;
		}
	} // .main-navigation.toggled

	@include media($tablet-landscape) {
		display: block;
	}
} // .main-navigation

//-----------------------------------------
// Dropdown
//-----------------------------------------
.dropdown {
	position: relative;

	// Sub-menu
	ul {
		@include position(absolute, $space null null -999em);
		box-shadow: 0 rem(3) rem(3) $color-box-shadow;
		z-index: 999999;

		// Sub-sub menu
		ul {
			left: -999em;
			top: 0;
		} // ul

		// Sub-menu items
		li {
			width: 100%;

			&:hover > ul,
			&.focus > ul {
				left: 100%;
			} // &:hover > ul, &.focus > ul
		} // li

		// Sub-menu links
		a:link {
			@include size(100%, auto);
			min-width: rem(200);
		} // a:link
	} // ul

	// Display sub-menu on hover
	li:hover > ul,
	.focus > ul {
		left: auto;
	} // li:hover > ul, .focus > ul

	// Menu items
	li {
		position: relative;
	} // li
} // .dropdown

.right {
	.wcmenucart-contents {
		span {
			position: absolute;
			right: -7px;
			top: -2px;
			height: 14px;
			min-width: 14px;
			padding: 1px 2px 0;
			border-radius: 99px;
			z-index: 1;
			background-color: $gn-red;
			box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);

			font-size: 11px;
			font-weight: 600;
			line-height: 14px;
			letter-spacing: -.5px;
			text-align: center;
			color: $gn-white;

			content: "";
		} // span
	} // .wcmenucart-contents
} // .right

.navsearchform {
	.search-form {
		fieldset {
			height: 2rem;
			border-radius: 5px !important;
			border: 1px solid $gn-dark-grey;
			background-color: $gn-dark-grey !important;
			outline: none;
			max-width: 8rem;

			input[type="text"],
			input[type="text"] {
				width: 100%;
				height: auto;
				border: 1px solid $gn-dark-grey;
				color: $gn-white;
				background-color: $gn-dark-grey !important;
				outline: none;
				padding: 0 10px !important;
				max-width: 100%;
				min-width: 0 !important;
			} // input[type="text"], input[type="text"]

			input[type="submit"] {
				line-height: 1;
				border-radius: 0px;
				height: auto;
				font-size: 15px;
				display: inline-block;
				border: 1px solid #5ca2df;
			} // input[type="submit"]
		} // fieldset
	} // .search-form 	
} // .navsearchform

.search {
	@include media($tablet-landscape) {
		.search {
			width: auto;
		}
	}

	.hide {
		display: none;
	} // .hide
} // .search

.search_iconx {
	position: absolute;
	top: 50%;
	right: .3em;
	left: .3em;
	margin-top: -8px;
	pointer-events: none;
	color: $gn-light-brown;
	font-size: .8rem !important;
} // .search_iconx