//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

.button,
button.button,
a:link.button, 
a:visited.button,
a.button, 
.checkout-button,
input[type='button'],
input[type='reset'],
input[type='submit'],
button[type='button'],
button[type='reset'],
button[type='submit'] {
	padding: 1.2rem 2rem;
	height: auto;
	display: inline-block;

	background-color: $gn-dark;
	color: $color-text-button;
	
	border: none;
	border-radius: 6px;
	box-shadow: none;

	font-size: .8rem;
	font-weight: 700;
	line-height: normal;
	text-decoration: none !important;

	transition: $transition-bg-color, $transition-opacity, $transition-color;
	cursor: pointer;
	
	appearance: none;
	overflow: visible; // removes padding in IE
	user-select: none;
	vertical-align: bottom;

	.ie & {
		padding: .8rem 1rem;
	}

	// removes padding in Firefox
	&::-moz-focus-inner {
		border: none;
		padding: 0;
	}

	&:hover,
	&:active,
	.nf-form-content &.ninja-forms-field:hover,
	.nf-form-content &.ninja-forms-field:active {
		color: $gn-white;
		background: $gn-dark-grey;
		transition: $transition-bg-color, $transition-opacity, $transition-color;
	}

	&:focus,
	.nf-form-content &.ninja-forms-field:focus {
		color: $color-text-button;
	}

	&:visited,
	.nf-form-content &.ninja-forms-field:visited {
		color: $color-text-button;

		&:hover,
		&:active,
		.nf-form-content &.ninja-forms-field:hover,
		.nf-form-content &.ninja-forms-field:active  {
			color: $color-text-button;
			background: $gn-dark-grey;
			opacity: 0.6;
		}

		&:focus,
		.nf-form-content &.ninja-forms-field:focus {
			color: $color-text-button;
		}
	} // &:visited 
} // all the button selectors for default button styles & default button structure

.woocommerce, .nf-form-content {
	button.button,
	a:link.button, 
	a:visited.button,
	a.button, 
	.checkout-button,
	input[type='button'],
	input[type='reset'],
	input[type='submit'],
	button[type='button'],
	button[type='reset'],
	button[type='submit'],
	.button.ninja-forms-field,
	button.button.ninja-forms-field,
	a:link.button.ninja-forms-field, 
	a:visited.button.ninja-forms-field,
	a.button.ninja-forms-field, 
	.checkout-button.ninja-forms-field,
	input[type='button'].ninja-forms-field,
	input[type='reset'].ninja-forms-field,
	input[type='submit'].ninja-forms-field,
	button[type='button'].ninja-forms-field,
	button[type='reset'].ninja-forms-field,
	button[type='submit'].ninja-forms-field {
		padding: 1.2rem 3rem;
		height: auto;
		display: inline-block;
	
		background-color: $gn-dark;
		color: $color-text-button;
		
		border: none;
		border-radius: 6px;
		box-shadow: none;
	
		font-size: .8rem;
		font-weight: 700;
		line-height: normal;
		text-decoration: none !important;
	
		transition: $transition-bg-color, $transition-opacity, $transition-color;
		cursor: pointer;
		
		appearance: none;
		overflow: visible; // removes padding in IE
		user-select: none;
		vertical-align: bottom;
	
		.ie & {
			padding: .8rem 1rem;
		}
	
		// removes padding in Firefox
		&::-moz-focus-inner {
			border: none;
			padding: 0;
		}
	
		&:hover,
		&:active,
		.nf-form-content &.ninja-forms-field:hover,
		.nf-form-content &.ninja-forms-field:active {
			color: $gn-white;
			background: $gn-dark-grey;
			transition: $transition-bg-color, $transition-opacity, $transition-color;
		}
	
		&:focus,
		.nf-form-content &.ninja-forms-field:focus {
			color: $color-text-button;
		}
	
		&:visited,
		.nf-form-content &.ninja-forms-field:visited {
			color: $color-text-button;
	
			&:hover,
			&:active,
			.nf-form-content &.ninja-forms-field:hover,
			.nf-form-content &.ninja-forms-field:active  {
				color: $color-text-button;
				background: $gn-dark-grey;
				opacity: 0.6;
			}
	
			&:focus,
			.nf-form-content &.ninja-forms-field:focus {
				color: $color-text-button;
			}
		} // &:visited 
	}
} // for ninja forms and woocommerce stuff

.button.alt,
a.button.alt,
a:link.button.alt,
a:visited.button.alt
button.button.alt,
button[type='submit'].button.alt,
button[type='reset'].button.alt,
button[type='button'].button.alt,
input[type='button'].alt,
input[type='reset'].alt,
input[type='submit'].alt {
	background-color: $gn-dark-green !important;
	color: $gn-white !important;

	&:hover, &:active {
		background: $gn-orange !important;
	}
} // secondary button style

a.button.alt-2,
a:link.button.alt-2,
a:visited.button.alt-2
button.button.alt-2,
button[type='submit'].button.alt-2,
input[type='button'].alt-2,
input[type='reset'].alt-2,
input[type='submit'].alt-2 {
	background-color: $gn-orange;
	color: $gn-white;

	&:hover, &:active {
		background: $gn-bright-orange !important;
	}
} // trinary button style

a.button.button-orange-text {
	color: $gn-orange;

	&:hover {
		color: $gn-white !important;
		background-color: $gn-bright-orange !important;
	}

	&:visited {
		color: $gn-orange !important;

		&:hover {
			color: $gn-white !important;
			background-attachment: $gn-bright-orange !important;
		}
	}
} // .button-orange-text

a.button.button-green-text {
	color: $gn-green;

	&:hover {
		color: $gn-white !important;
		background: $gn-bright-green !important;
	}

	&:visited {
		color: $gn-green;

		&:hover {
			color: $gn-white !important;
			background: $gn-bright-green !important;
		}
	}
} // .button-green-text

a.button.button-bright-yellow-text {
	color: $gn-bright-yellow;

	&:hover {
		color: $gn-white !important;
		background: $gn-bright-yellow !important;
	}

	&:visited {
		color: $gn-bright-yellow;

		&:hover {
			color: $gn-white !important;
			background: $gn-yellow !important;
		}
	}
} // .button-green-text

.button-icon {
	display: flex;
	justify-content: center;

	.icon {
		width: 2rem;
		padding-right: 10px;

		@include media($tablet-portrait) {
			width: 1.6rem;
		} 
	} // img

	&:hover {
		.icon {
			filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
		}
	}
} // .button-icon

// FOOTER START
.footer-button {
	a.button.button-icon {
		width: 100%;
		padding: 1.2rem;
		color: $gn-white;
		border: 2px solid $gn-white;
		display: inline-flex;
		align-items: center;

		@include media($tablet-portrait) {
			width: auto;
		}

		.footer-button-text {
			padding: 0 1.8rem;
			flex-grow: 1;
		} // .footer-button-text

		&:hover {
			color: $gn-light-brown;
			border: 2px solid $gn-light-brown;
		}
	} // .button
} // .footer-button

// HOMEPAGE START
.product-categories-block {
	&.color-brown,
	&.color-very-light-brown,
	&.color-light-brown {
		.button {
			color: $gn-orange !important;

			&:link, &:visited {
				color: $gn-orange !important;
			}

			&:hover, &:active {
				color: $gn-white !important;
				background-color: $gn-bright-orange !important;
			}
		} // .button
	} // .product-categories-block.color-brown

	&.color-dark-green,
	&.color-green,
	&.color-bright-green {
		.button {
			color: $gn-green !important;

			&:link, &:visited {
				color: $gn-green !important;
			}

			&:hover, &:active {
				color: $gn-white !important;
				background-color: $gn-bright-green !important;
			}
		} // .button
	} // .product-categories-block.color-dark-green

	&.color-light-yellow,
	&.color-yellow,
	&.color-bright-yellow {
		.button {
			color: $gn-bright-yellow !important;

			&:link, &:visited {
				color: $gn-bright-yellow !important;
			}

			&:hover, &:active {
				color: $gn-white !important;
				background-color: $gn-bright-yellow !important;
			}
		} // .button
	} // .product-categories-block.color-dark-green
	
	.button {
		width: 100%;

		@include media($tablet-portrait) {
			width: auto;
		}
	} // .button 
} // .product-categories-block
// HOMEPAGE END

// PRODUCT CATEGORY START
.products {
	li.single-product-card {
		.product {
			.product-details {
				.description {
					a:link.button, a.button {
						cursor: pointer;
						text-align: center;
						color: $gn-white;
						background: $gn-orange;
						display: block;
						width: 100%;
						color: $gn-white !important;
						font-size: 0.8rem;
						padding: .6rem;
						margin: 1rem 0 0 0;
			
						&:hover {
							cursor: pointer;
							background: $gn-bright-orange !important;
						} // a.button:hover
					} // a.button
				} // .description
			} // .product-details
		} // .product
	} // .single-product-card
} // .products
// PRODUCT CATEGORY END

// SINGLE PRODUCT START
.variations_form {
	button.single_add_to_cart_button.button[type="submit"].alt,
	button.single_add_to_cart_button.button[type="submit"] {
		// box-shadow: 0 2px 8px 0 rgba(157, 83, 9, 0.54);
		background: $gn-orange;
		text-align: center;
		color: $gn-white;
		padding: 1rem;
		opacity: 1;
		width: 100%;
		display: block;

		&:hover {
			background: $gn-bright-orange !important;
			cursor: pointer;
		} 

		&::before {
			content: "+";
			position: absolute;
			left: 5%;
			top: 20%;
			font-size: 2em;
			font-weight: 200;
		} 
	} // button.single_add_to_cart_button, button.disabled, button.wc-variation-selection-needed
} // .variations_form
// SINGLE PRODUCT END

// WOOCOMMERCE NOTICES START
.woocommerce-notices-wrapper {
	a:link.button {
		padding: .8rem 1rem;
		margin-left: .6rem;
		margin-bottom: 1rem;
		text-align: center;
		float: right;
	} // .button

	.wc-forward {} // .wc-forward

	.woocommerce-info {
		a:link.button, a.button {
			background: $gn-blue;

			&:visited {
				background: $gn-blue;
			}

			&:hover {
				background: $gn-dark-blue;
			}
		} // a:link.button 
	} // .woocommerce-info

	.woocommerce-message {
		a:link.button, a.button {
			background: $gn-orange;

			&:visited {
				background: $gn-orange;
			}

			&:hover {
				background: $gn-bright-orange;
			}
		} // a:link.button 
	} // .woocommerce-message

	.woocommerce-error {
		a:link.button, a.button {
			background: $gn-red;

			&:visited {
				background: $gn-red;
			}

			&:hover {
				background: $gn-dark-red;
			}
		} // a:link.button 
		} // .woocommerce-error
} // .woocommerce-notices-wrapper
	
.return-to-shop {
	margin-top: 1rem;
} // .return-to-shop
// WOOCOMMERCE NOTICES END

// NINJA FORMS START
.nf-form-cont,
.nf-form-content {
	.nf-form-wrap,
	.ninja-forms-form-wrap {
		.submit-wrap,
		.ninja-forms-all-fields-wrap .submit-wrap div {
			margin-top: 1rem;

			input[type='button'].ninja-forms-field,
			input[type='submit'].ninja-forms-field {
				width: 100% !important;
				position: relative;
				float: right;
				background-color: $gn-orange;
				color: $gn-white;

				&:hover, &:active {
					background: $gn-bright-orange !important;
				}

				@include media($tablet-landscape) {
					width: auto !important;
				} // $tablet-landscape
			} // input[type='button'].ninja-forms-field, input[type='submit'].ninja-forms-field
		} // .submit-wrap 
	} // .nf-form-wrap, .ninja-forms-form-wrap
} // .nf-form-cont, .nf-form-content 
// NINJA FROMS END 