//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

//-----------------------------------------
// Posts and Pages
//-----------------------------------------

// Entry Title
.entry-title {
	font-size: rem(28);

	a {
		color:$gn-dark;
	}
} // .entry-title

// Sticy and Comments Link
.sticky,
.comments-link {
	display: block;
} // .sticky, .comments-link

// hentry
.hentry {
	@include margin(0 0 $space 0);
} // .hentry

// Byline and update post date
.byline,
.updated:not(.published) {
	display: none;
} // .byline, .updated:not(.published)

// Byline for single and group
.single .byline {
	display: inline;
} // .single .byline, .group-blog .byline

// Page content, entry content and entry summary
.page-content,
.entry-content,
.entry-footer,
.entry-summary {
	@include margin($space 0 0);
} // .page-content, .entry-content, .entry-footer, .entry-summary

// Page links
.page-links {
	@include margin(0 0 $space 0);

	clear: both;
} // .page-links

// Tags links
.tags-links {
	// margin-left: $space;
} // .tags-links

// Edit link
.edit-link {
	@include margin(0 0 0 rem(5));

	a {
		display: inline-block;
		font-size: rem(12);
		text-transform: lowercase;

		&::before {
			content: '(';
		}

		&::after {
			content: ')';
		}
	} // a
} // .edit-link

//-----------------------------------------
// Asides
//-----------------------------------------
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
} // .blog .format-aside .entry-title, .archive .format-aside .entry-title



