//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------

.site-footer {
	@include padding($space null);

	display: block;
	position: relative;
	background-color: $clr-dark-grey;
	flex: 0 0 100%;
	width: 100%;

	a:link {
		color: $gn-white;
		text-decoration: $gn-light-brown solid underline;
		-webkit-text-decoration: $gn-light-brown;

		&:visited {
			color: $gn-white;
		}

		&:hover,
		&:focus {
			color: $gn-light-brown;
		}
	}

	.footer-navigation {
		margin-bottom: 1rem;

		.footer-nav {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 1rem !important;

			a:link, a, a:visited {
				color: $gn-white;
				text-decoration: $gn-light-brown solid underline;
				-webkit-text-decoration: $gn-light-brown;

				&:hover, &:active {
					color: $gn-light-brown;
				}
			}

			.menu-item {	
			 width: auto;
			 text-align: center;
			 padding: .4rem;

				@include media($tablet-portrait) {
					width: auto;
				}
			} // .menu-item
		} // .footer-nav 
	} // .footer-navigation 

	.footer-button {
		text-align: center; 
		margin-bottom: 2rem;
	} // .footer-button 

	.site-info {
		text-align: center;
	} // .site-info
} // .site-footer