//--------------------------------------------------------------
// Base
//--------------------------------------------------------------

button,
input,
select,
textarea {
	@include margin(0); // Addresses margins set differently in IE6/7, F3/4, S5, Chrome
	font-size: 100%; // Corrects font size not being inherited in all browsers
	vertical-align: baseline; // Improves appearance and consistency in all browsers

	&:focus,
	.nf-form-content 
	.nf-field 
	.field-wrap 
	.nf-field-element 
	&:focus {
		box-shadow: 0px 0px 4px orange;
		outline: none;
	} // ninja forms classes
} // button, input, select, textarea

// Addresses excess padding in IE8/9
input[type='checkbox'],
input[type='radio'] {
	@include padding(0);
	display: inline-block !important; 
} // input[type='checkbox'], input[type='radio'] 

// Remove the clear x icon in IE
input[type='text']::-ms-clear,
input[type='search']::-ms-clear {
	display: none;
} // input[type='text']::-ms-clear, input[type='search']::-ms-clear 

input[type='search'] {
	-webkit-appearance: textfield; // Addresses appearance set to searchfield in S5, Chrome
	box-sizing: content-box;

	// Corrects inner padding displayed oddly in S5, Chrome on OSX
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
} // input[type='search'] 

// Corrects inner padding and border displayed oddly in FF3/4
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
	@include padding(0);
	border: 0;
} // button::-moz-focus-inner, input::-moz-focus-inner


//--------------------------------------------------------------
// Forms
//--------------------------------------------------------------

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select,
textarea,
.ninja-forms {
	@include padding(rem(6) rem(10));

	appearance: none;
	background-color: $color-white;
	border: 1px solid $color-border-input;
	border-radius: 3px;
	color: $color-text-input;
	line-height: 1.5;
	font-size: 0.8rem;
	max-width: 100%;
	padding: .8rem .6rem;
	min-width: 100%;
	transition: $transition-all;
	margin: 0 !important;

	&::-webkit-input-placeholder {
		color: $color-text-input;
		opacity: 1;
	} // &::-webkit-input-placeholder

	&:-moz-placeholder {
		color: $color-text-input;
		opacity: 1;
	} // &:-moz-placeholder

	&::-moz-placeholder {
		color: $color-text-input;
		opacity: 1;
	} // &::-moz-placeholder 

	&:-ms-input-placeholder {
		color: $color-text-input;
	} // &:-ms-input-placeholder

	&:focus {
		color: $color-focus-text-input;
		transition: $transition-all;
	} // &:focus 
} // all fields

textarea {
	@include size(100%, auto);

	overflow: auto; // Removes default vertical scrollbar in IE6/7/8/9
	vertical-align: top; // Improves readability and alignment in all browsers
} // textarea

label,
.text-wrap.label-above,
.textarea-wrap.label-above,
.spam-wrap.label-left {
	text-transform: uppercase;
	font-size: .6rem;
	font-family: $font-sans;
	font-weight: 400;
	line-height: 2; 

	label {
		text-transform: uppercase;
		font-size: .6rem;
		font-family: $font-sans;
		font-weight: 400;
		line-height: 2; 
	} // label
} // label, .text-wrap.label-above, .textarea-wrap.label-above, .spam-wrap.

.nf-form-content 
.nf-field 
.field-wrap 
.nf-field-label 
label {
	text-transform: uppercase;
	font-size: .6rem !important;
	font-family: $font-sans;
	font-weight: 400 !important;
	line-height: 2 !important;
}

form {
	h3 {
		padding: 0 !important; 
	} // h3
} // form 

.woocommerce {
	form {
		.form-row {
			padding: 3px 0;
		} // .form-row
	} // form
} // .woocommerce

//-----------------------------------------
// Select Form Default
//-----------------------------------------
select {
	background-image: url('assets/images/svg-icons/caret-down.svg');
	background-position: calc(100% - #{rem(20)}) 50%;
	background-repeat: no-repeat;
	background-size: 10px 16px;
	font-size: 0.8rem;

	// for IE11;
	&::-ms-expand {
		display: none;
	} // &::-ms-expand 
} // select

.woovr-variations {
	font-size: 0.8rem !important;

	.woovr-variation {
		padding: 0.6rem;
		border: 1px solid $color-border-input;
		border-radius: 3px;
		margin-bottom: 26px;
		margin-right: 0 !important;
		margin-left: 0 !important;

		.select2-selection {
			.select2-selection__rendered {
				outline: 1px $gn-orange;
			} // .select2-selection__rendered 
		} // .select2-selection

		&-info {
			display: flex;
			align-items: center;
			padding-left: .4rem;
		} // &-info

		&-name {
			margin-right: .6rem;
		} // &-name
	} // .woovr-variation 
} // .woovr-variations

.select2-container,
.select2-container--open {
	font-size: 0.8rem;

	.selection {
		.select2-selection {
			height: auto;
			padding-bottom: .6rem;
			padding: 0.6rem;
			border: 1px solid $color-border-input;

			.select2-selection__rendered {
				text-align: left;
				padding: 0;
				outline: 1px $color-border-input;
			} // .select2-selection__rendered –– current selection

			.select2-selection__arrow {
				top: 10px;
				right: 16px;
				height: 36px;
				margin: 0;

				b {
					border-color: $gn-orange transparent transparent transparent;
					border-width: 10px 8px 0 8px;
				} // b
			} // .select2-selection__arrow
		} // .select2-selection 
	} // .selection 

	.select2-dropdown {
		border: 1px solid $color-border-input;
		
		&.select2-dropdown--above {
			border-bottom: none;
		} // .select2-dropdown.select2-dropdown--above

		&.select2-dropdown--below {
			border-top: none; 
		}  // .select2-dropdown.select2-dropdown--below

		.select2-search {
			.select2-search__field {
				border: 1px solid $color-alto;
			} // .select2-search__field
		} // .select2-search

		.select2-results {
			.select2-results__options {
				.select2-results__option {
					background: $gn-white;
				} // .select2-results__option –– default item

				.select2-results__option[data-selected="true"] {
					background: $gn-light-orange;
				} // .select2-results__option[data-selected="true"] –– currently selected

				.select2-results__option--highlighted[data-selected] {
					background: $gn-orange;
				} // .select2-results__option--highlighted –– hover
			} // .select2-results__options
		} // .select2-results
	} // .select2-dropdown
} // .select2 –– psudo select feild overlays


//-----------------------------------------
// Radio/Checkbox
//-----------------------------------------

input[type='checkbox'],
input[type='radio'] {
	height: 1.4rem;
	width: 1.4rem;
	appearance: none;
	border: 1px solid $color-border-input;
	border-radius: rem(3);
	margin: 0 rem(3) 0 0;
	outline: 0;
	padding: rem(9);
	position: relative;
	vertical-align: sub;
} // input[type='checkbox'], input[type='radio']

input[type='radio'] {
	border-radius: rem(75);

	&:checked::after {
		top: -.3rem;
		right: .3rem;
		height: .8rem;
		width: .8rem;
		position: relative;
		background-color: $color-focus-text-input;
		border-radius: 50%;
		content: '';
		display: block;
	} // input[type='radio']:checked::after 
} // input[type='radio']

.woovr-variation-radio:hover {
	background-color: $gn-light-orange !important;
} // .woovr-variation-radio:hover

input[type='checkbox']:checked::after {
	@include position(relative, rem(-7) rem(3) null null);
	@include size(rem(7), rem(11)); // Make it a small rectangle so the border will create an L-shape.

	// Add a white border on the bottom and left, creating that 'L'.
	border: solid $color-focus-text-input;
	border-width: 0 3px 3px 0;

	// Add another block-level blank space.
	content: '';
	display: block;

	// Rotate the L 45 degrees to turn it into a checkmark.
	transform: rotate(45deg);
} // input[type='checkbox']:checked::after

label {
	&.woocommerce-form__label-for-checkbox {
		height: max-content;
		display: inline-block;

		.input-checkbox {
			display: inline-block !important;
		} // .input-checkbox 

		span {
			margin: 0;
		} // span
	} // lable.woocommerce-form__label-for-checkbox
} // label –– checkbox spesific 

.woovr-variation > div {
	height: 40px;
} // .woovr-variation > div


//-----------------------------------------
// Search Form Input
//-----------------------------------------

.search-form {
	&-field {
		min-width: 0;
		width: calc(100% - #{rem(98)});
	} // &-field

	&-submit {
		width: rem(100);
	} // &-submit
}  // .search-form


//-----------------------------------------
// Sign In Fomrs
//-----------------------------------------

.woocommerce {
	.woocommerce-form-login.login {
		border: 1px solid $color-border-input;
		max-width: 20rem;
		margin: 0 auto;

		.lost_password {
            margin-bottom: 0;
		} // .lost_password
		
		.woocommerce-form__label-for-checkbox {
			display: flex;
			line-height: 1 !important;
			align-items: center;
			margin-bottom: 1rem;
		} // .woocommerce-form__label-for-checkboxs
	} // &.woocommerce-form-login.login
} // .woocommerce-form


//-----------------------------------------
// Other
//-----------------------------------------

legend {
	text-transform: uppercase !important;
	font-size: .6rem !important;
} // legend

fieldset {
	border: 1px solid $color-border-input;
} // fieldset


//-----------------------------------------
// Ninja Forms
//-----------------------------------------

.nf-form-cont,
.nf-form-content {
	padding: 0 !important;

	.nf-form-wrap,
	.ninja-forms-form-wrap {
		.nf-form-layout, div {
			.ninja-forms-form, form {
				.ninja-forms-all-fields-wrap, div {
					.nf-form-fields-required,
					.ninja-forms-required-items {
						display: none;
					} // .nf-form-fields-required
		
					.nf-form-content {
						.nf-field-container {
							margin: 0 0 6px;
		
							.nf-field {
								.field-wrap,
								.field-wrap.nf-error,
								.field-wrap.ninja-forms-req {
									.nf-field-label {
										margin-bottom: 0 !important;
										line-height: 2;
									} // .nf-field-label 

									.nf-field-element {
										input[type='text'],
										input[type='email'],
										input[type='url'],
										input[type='password'],
										input[type='search'],
										input[type='number'],
										input[type='tel'],
										input[type='range'],
										input[type='date'],
										input[type='month'],
										input[type='week'],
										input[type='time'],
										input[type='datetime'],
										input[type='datetime-local'],
										input[type='color'],
										select,
										textarea {
											@include padding(rem(6) rem(10));

											appearance: none;
											background-color: $color-white;
											border: 1px solid $color-border-input;
											border-radius: 3px;
											color: $color-text-input;
											line-height: 1.5;
											font-size: 0.8rem;
											max-width: 100%;
											padding: .8rem .6rem;
											min-width: 100%;
											transition: $transition-all;
										
											&::-webkit-input-placeholder {
												color: $color-text-input;
												opacity: 1;
											} // &::-webkit-input-placeholder
										
											&:-moz-placeholder {
												color: $color-text-input;
												opacity: 1;
											} // &:-moz-placeholder
										
											&::-moz-placeholder {
												color: $color-text-input;
												opacity: 1;
											} // &::-moz-placeholder 
										
											&:-ms-input-placeholder {
												color: $color-text-input;
											} // &:-ms-input-placeholder
										
											&:focus {
												color: $color-focus-text-input;
												transition: $transition-all;
											} // &:focus 
										}

										&::after {
											display: none;
										} // &::after 
									} // .nf-ield-element

									.ninja-forms-req {
										margin: 0;
									} // .ninja-forms-req
								} // .field-wrap
								
								&.nf-error,
								&.nf-fail {
									input[type='text'],
									input[type='email'],
									input[type='url'],
									input[type='password'],
									input[type='search'],
									input[type='number'],
									input[type='tel'],
									input[type='range'],
									input[type='date'],
									input[type='month'],
									input[type='week'],
									input[type='time'],
									input[type='datetime'],
									input[type='datetime-local'],
									input[type='color'],
									select,
									textarea {
										border-color: $gn-red !important;
									} // all fields &.nf-fail
								} // &.nf-error, &.nf-fail

								.submit-wrap {
									margin-top: 1rem;
								} // submit-wrap
							} // .nf-field
		
							.nf-after-field {
								.nf-error-wrap {
									.nf-error-msg {
										font-size: .6rem;
									} // .nf-error-msg
								} // .nf-error-wrap
							} // .nf-after-field
						} // nf-field-container
					} // .nf-form-content 

					.field-wrap {
						.nf-field-label {
							text-transform: uppercase;
							font-size: .6rem !important;
							font-family: $font-sans; 
							font-weight: 400 !important;
							line-height: 2 !important;
						} // .nf-field-label
					} // .field-wrap
		
					.nf-after-form-content {
						.nf-form-errors {
							.nf-error-msg {
								font-size: .6rem;
		
								@include media($tablet-landscape) {
									text-align: right;
								} // $tablet-landscape
							} // .nf-error-msg
						} // .nf-form-errors
					} // .nf-after-form-content
		
					.nf-error-msg, .ninja-forms-req-symbol {
						color: $gn-red;
					} // .nf-error-msg, .ninja-forms-req-symbol
				} // .ninja-forms-all-fields-wrap, div
			} // .ninja-forms-form, form
		} // .nf-form-layout 
	} // .nf-form-wrap
} // .nf-form-cont