//--------------------------------------------------------------
// Header.
//--------------------------------------------------------------

.admin-bar {
	.site-header {
		position: fixed;
		top: 46px;

		@include media($tablet-landscape) {
			top: 32px;
		} // $tablet-landscape
	} // .site-header
} // .admin-bar

#wpadminbar {
    position: fixed;
} // #wpadminbar

.site-header {
	background: $gn-dark; 
	flex: 0 0 100%;
	width: 100%;
	margin-top: 50px;
	margin: 0;
	padding: .5rem 0;
	box-shadow: 0 1px 4px 0 transparent;
	z-index: 9999;
	top: 0;
	position: fixed;

	.custom-logo {
		border: 2px dashed $gn-orange;
	}

	@include media($tablet-portrait, $tablet-landscape) {
		padding: 1rem 0;
	} // $tablet-portrait to $tablet-landscape

	.nav-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media($tablet-landscape) {
			justify-content: space-evenly;
		} // $tablet-landscape
	} // .nav-bar

	.site-logo {
		width: 20%;

		@include media($tablet-portrait) {
			width: 20%;
		} // $tablet-portrait

		@include media($tablet-landscape) {
			width: 12%;
		} // $tablet-landscape

		.site-branding {
			flex: 0 0 auto;
			width: 85%;

			@include media($tablet-portrait) {
				width: 100%;
			} // $tablet-portrait

			@include media($tablet-landscape) {
				width: 100%;
			} // $tablet-landscape

			img {
				@include media($tablet-portrait, $tablet-landscape) {
					max-height: 3rem;
					width: auto;
				} // $tablet-portrait to $tablet-landscape
			} // img
		} // .site-branding
	} // .site-logo

	.gns-navigation {
		width: 80%;
	} // .gns-navigation

	//-----------------------------------------
	// Header action container — Form Dropdown.
	//-----------------------------------------
	.site-header-action {
		flex: 0 0 auto;
		width: 100%;

		@include media($tablet-landscape) {
			margin-left: auto;
			width: 35%;
		} // $tablet-landscape

		@include media($desktop) {
			width: 25%;
		} // $desktop
	} // .site-header-action

	//-----------------------------------------
	// Site header action cta buttons.
	//-----------------------------------------
	.site-header-action {
		text-align: left;

		@include media($tablet-landscape) {
			text-align: right;
		} // $tablet-landscape

		.button-link,
		.cta-button {
			color: $color-cta-link;
			text-align: center;
			text-decoration: none;
		} // .button-link, .cta-button
	} // .site-header-action

	//-----------------------------------------
	// Site header Action Searchform.
	//-----------------------------------------
	.site-header-action {
		.form-container {
			max-height: 0;
			overflow: hidden;
			transition: $transition-height;

			.search-form {
				@include padding($space / 2);

				background-color: $color-white;
				border: 1px solid $color-gallery;
				display: none;
			} // .search-form

			.search-form-visible & {
				display: block;
				max-height: rem(150);

				.search-form {
					display: block;
				} // .search-form
			} // .search-form-visible &
		} // .form-container
	} // .site-header-action
} // .site-header
