//--------------------------------------------------------------
// Tables
//--------------------------------------------------------------

table {
	@include padding(0);

	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;

	// thead
	thead {
		display: none;

		@include media($wp-admin-bar) {
			display: table-row-group;
		}
	} // thead

	// th, td
	th,
	td {
		@include padding(rem(10));

		@include media($wp-admin-bar) {
			display: table-cell;
		}
	} // th, td

	th {
		border: 1px solid $color-silver;
		font-size: rem(14);
		letter-spacing: rem(1);
		text-transform: uppercase;

		@include media($phone) {
			display: table-cell;
		}
	} // th

	tr {
		display: table-row;
		margin-bottom: rem(10);

		@include media($wp-admin-bar) {
			display: table-row;
			margin-bottom: 0;
		}
	} // tr

	td {
		border: 1px solid $color-border-table;
		border-bottom: 0;
		display: block;
		font-size: rem(13);

		@include media($wp-admin-bar) {
			border-bottom: 0;
		}

		// last-child
		&:last-child {
			border-bottom: 1px solid $color-border-table;
		} // &:last-child


		// before
		&::before {
			content: attr(data-label);
			display: block;
			font-weight: bold;
			text-transform: uppercase;

			@include media($wp-admin-bar) {
				display: none;
			}
		} // &::before
	} // td

	@include media($wp-admin-bar) {
		border: 1px solid $color-border-table;
	}
} // table
