ul.woocommerce-error li, .woocommerce-info, .woocommerce-message {
    font-size: .8rem !important; 
}

.woocommerce-form-login-toggle {
    .woocommerce-info {
        border-top: 3px solid $gn-orange;

        a:link {
            color: $gn-orange;

            &:hover {
                color: $gn-light-brown;
            }
        }
    }

    .woocommerce-info::before {
        color: $gn-orange;
    }
}