//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

//-----------------------------------------
// Full-width Helper
//-----------------------------------------

html {
	margin-top: 0 !important;
}

.admin-bar {
	.site-main {
		margin-top: 5rem;
		margin-bottom: 3rem;

		@include media($tablet-portrait) {
			margin-top: 6rem;
		}
	} // .site-main
} // .admin-bar

.site-main {
	@include margin( 0 null );

	position: relative;
	margin-top: 2.6rem;
	margin-bottom: 3rem;
	width: 100%;

	@include media($tablet-portrait) {
		margin-top: 4.8rem;
	}

	&.acf-content-blocks {
		@include margin(0 null);
	} // &.acf-content-blocks

	// Styles internal elements to max-width unless it's full-width.
	> *:not(.full-width) {
		@include margin( 0 null $gutter * 1 null);

		&.container-width {
			@include margin(0);
		} // &.container-width
	} // > *:not(.full-width)

	// Post elements.
	.hentry {
		@include margin(0 auto $space * 2);

		max-width: $max-width;

		&:last-of-type {
			margin-bottom: 0;
		} // &:last-child
	} // .hentry

	// Full-screen elements. Ignores sidebar issues.
	.full-width:not(.content-block) {
		@include full-width;
	} // .full-width
} // .site-main

//-----------------------------------------
// Bound Container at $container width
//-----------------------------------------
.container {
	@include margin(null auto);
	@include padding(null $gutter);

	max-width: $container;
	position: relative;

	@include media($container-offset) {
		@include padding(0);
	}
} // .container

.wide-container {
	@include margin(null auto);
	padding: 0 .8rem;

	max-width: $container-offset;
	position: relative;

	@include media($container-offset) {
		@include padding(0);
	}
} // .container

//-----------------------------------------
// Bound Container at $wrap width
//-----------------------------------------
.wrap {
	@include margin(null auto);
	@include padding(null $gutter);

	max-width: $wrap !important;
	position: relative;

	@include media($container) {
		@include padding(0);
	}
} // .wrap

// Adjusts padding for non-full-width content blocks with backgrounds.
.content-block.has-background {
	.container {
		@include media($container-offset) {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	} // .container
} // .content-block.has-background

//-----------------------------------------
// Site Layout Wrapper and Grid Elements
// and Grid Layout Wrapper
//-----------------------------------------
.site-wrapper,
.display-flex {
	display: flex;
	flex: 0 0 100%;
	flex-flow: row wrap;
	width: 100%; // For IE11.

	//-----------------------------------------
	// Justification
	//-----------------------------------------
	&.justify-center {
		justify-content: center; // Allows center elements without margin: 0 auto;
	} // &.justify-center

	&.space-between {
		justify-content: space-between; // Allows space-between elements.
	} // &.space-between

	//-----------------------------------------
	// Alignments
	//-----------------------------------------
	&.flex-start {
		align-items: flex-start;
	} // &.flex-start

	&.align-center {
		align-items: center;
	} // &.align-center

	//-----------------------------------------
	// Grid Elements
	//-----------------------------------------

	// 50%.
	.half {
		@include half;
	} // .half

	// 33%.
	.third {
		@include third;
	} // .third

	// 25%
	.quarter {
		@include quarter;
	} // .quarter
	.fifth{
		@include fifth;
	}
	//-----------------------------------------
	// Sidebar Elements
	//-----------------------------------------

	// Left @ ~66% with ~50px gutter.
	.left-two-thirds {
		@include left-two-thirds;
	} // .left-two-thirds

	// 33%.
	.right-third {
		@include right-third;
	} // .right-third

	// 33%.
	.left-third {
		@include left-third;
	} // .left-third

	// Right @ ~66% with ~50px gutter.
	.right-two-thirds {
		@include right-two-thirds;
	} // .right-two-thirds
} // .site-wrapper, .display-flex

//-----------------------------------------
// Create Content/Sidebar layout
//-----------------------------------------
.has-sidebar {

	.site-main {
		margin-top: 5rem;
		margin-bottom: 3rem;

		@include media($tablet-portrait) {
			margin-top: 6rem;
		}
	}

	// Left sidebar.
	&.page-template-template-sidebar-left {

		.grid-wrapper {

			.sidebar {
				@include media(null, $tablet-landscape) {
					order: 2;
				}
			}

			.site-main {
				@include media(null, $tablet-landscape) {
					order: 1;
				}
			}
		}
	}

	.grid-wrapper {
		@include margin($gutter * 2 auto);

		max-width: $max-width;
	} // .grid-wrapper

	.site-main {
		@include margin($gutter * 2 null);
	} // .site-main
} // .has-sidebar

.sidebar {
	margin-top: 2rem;

	@include media($tablet-portrait) {
		margin-top: 0;
	}
} // sidebar