.product-categories-block {
    text-align: center;
    
    .header {
        padding-bottom: 1.8rem;

        &-title {
            text-transform: uppercase;
            font-family: $font-sans;
        } // .header_title
    } // .header

    .category-image {
        img {
            height: 2rem;
            width: 2rem;
        } // img
    } // .category-image 
    
    .products {
        .icon-card {
            box-shadow: 0;
        } // .icon-card

        .category-image {
            padding-bottom: 1rem;
        } // .category-image

        .name {
            font-weight: 600;
            text-transform: uppercase;
            font-size: .8rem;
        } // .name 
    } // .products

    &.color-brown {
        .header-title {
            color: $gn-light-brown;
        } // .header-title
    } // .product-categories-block.color-brown

    &.color-dark-green {
        .header-title {
            color: $gn-muted-green;
        } // .header-title

        .sec-button {
            a.cat-btn.button {
                color: $gn-green !important;
                padding: 1rem;
            }
        }
    } // .product-categories-block.color-dark-green
} // .product-categories-block