.gn-half {
    .half {
        display: flex;
        justify-content: center;

        .fifty-image {
            border-radius: 18px;
            width: 100%;
        }
    }

    .bottom-text {
        margin-top: 1.5rem;;
    }
} 