.upper-footer-block{
    @include padding($gutter * 2 0);
    background: linear-gradient(180deg, $gn-dark_grey 50%, #52596300 50%);
    @include media($tablet-landscape) {
    background: linear-gradient(90deg, $gn-dark_grey 50%, #52596300 50%);
    
    }
    .image-background {
        height: 80%;
        top: 70%;
        @include media($tablet-landscape) {
            height: 100%;
            width: 50%;
            top: 50%;
            left: 50%;   
        }
    }
    .half-col{
        width: 100%;
        @include media($tablet-landscape) {
            flex-basis: 50% ;
            flex-grow: 0;
            flex-shrink: 0;
            width: 50%; // For IE11.
        }
    
        &:nth-child(odd) {
            @include margin( 0);
        } // &:first-child
    }
    .contacts{
        @include padding($gutter * 2  0 );
    }
    .locations{
       @include padding($gutter * 2  0);
    }
}

.half.contacts, .half.locations {width: 100% !important;}