.garantee-block {
    .sec-logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            display: block;
            margin: 0 auto  1rem;
        }
    }
}