//--------------------------------------------------------------
// Hero Block
//--------------------------------------------------------------
.page-template-homepage {
	.hero {
		&-content {
			@include margin(0 auto);
	
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 100%;
			position: relative;
			text-align: center;
		} // .hero-content
	
		&-logo {
			height: 9rem;
			width: auto;
			margin: 0 auto;
	
			@include media($tablet-portrait) {
				height: 13rem;
			}
		} // .hero-logo
	
		&-certifications {
			height: 5.5rem;
			padding-bottom: .6rem;
			background-size: cover;
			background-origin: content-box;
			background-position: center;
			background-position-y: .5rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 0 1rem 0 1rem;
	
			.hero-certifications-wrap {
				display: flex;
				width: 100%;
				margin: 0 auto;
				justify-content: center;
	
				@include media($tablet-portrait) {
					width: 100%;
					margin: 0;
				}
			} // .hero-certifications-wrap
	
			.certification {
				margin: 0 .5rem;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
	
				&-logo {
					align-self: center;
					min-height: 1rem;
					max-height: 1.6rem;

					@include media($tablet-portrait) {
						max-height: 3rem;
					}
				} // .certification-logo

				.icon {
					opacity: 0.9;
					filter: sEpia(100%) contrast(100%) drop-shadow(0 0 13px black);
					height: 2rem;
					width: auto;
				}
			} // .certifications 
		} // .hero-certifications
	
		&-title {
			margin: 1rem 0 0 0;
			font-size: 1.6rem;
		} // .hero-title
	
		&-buttons {
			margin: 2rem 0 3rem 0;
			width: 100%;
			display: flex;
			flex-direction: column;
	
			@include media($tablet-portrait) {
				flex-direction: row;
				justify-content: center;
			}
	
			.button:first-child {
				margin: 0 0 .6rem 0;
	
				@include media($tablet-portrait) {
					margin: 0 .6rem 0 0;
				}
			} // .button:first-child

			.button:last-child {
				margin: .6rem 0 0 0;
	
				@include media($tablet-portrait) {
					margin: 0 0 0 .6rem;
				}
			} // .button:first-child
		} // .hero-buttons
	} // .hero
} // .page-template-homepage

//-----------------------------------------
// IE Fixes
//-----------------------------------------
.ie .hero {
	// IE seems to have some width issues with flexbox,
	// the text is rendered wider than its container
	// and doesn't wrap. This fixes that.
	.hero-title,
	.hero-block-logo {
		width: 100%;
	} // .hero-title, .hero-description
} // .ie .hero