.promotion-section {
    width: 100%;
    color: $gn-white;
    position: relative; 
    background-color: $gn-dark;
    padding: 2rem 0;
    text-align: center;
    text-transform: capitalize;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    } // .promotion-section::after

    .container {
        position: relative;
        z-index: 2;

        h2, h3 {
            margin: 0;
        }
    } // .container
} // .promotion-section