.quote-block {
    padding: 0;
    margin: 0 !important;

    @include media( $tablet-landscape)  {
        margin: 4rem 0 0 0 !important;
    }

    .wrap {
        padding: 0;
        margin: 0;

     @include media( $tablet-landscape) {
        @include margin(null auto);
        @include padding(null $gutter);
        }
    }

    .quote-grid {
        padding: 1rem;
        box-shadow: 0 2px 40px 0 $gn-overlay-1;
        display: flex;
        border-radius: 0;

        @include media( $tablet-landscape) {
            border-radius: 13px; 
            padding: 1.833rem;
        }

        .quote-icon {
            width: 20%;
            display: flex;
            align-items: center;

            img {
                width: 4rem;
                display: flex;
                align-items: center;
            }
        }

        .description {
            width: 80%;
            display: flex;
            align-items: center;
            font-size: 0.667rem;
            padding-left: 1rem;

            @include media( $tablet-landscape) {
                font-size: 1rem;
                padding-left: 0;
            }
        }
    }
}