.blog.hfeed,
.search-results {
    background-color: $gn-white;

    a:link {
        text-decoration: none;
    } // a:link

    .blog-archive {
        @include margin($gutter * 2 null);

        .container.h-feed {
            max-width: 520px;
        }

        .blog-post {
            border-radius: 4px;
            box-shadow: 0 2px 14px 0 rgba(35, 31, 32, 0.16);
            border: solid 1px $gn-light-brown;

            .attachment-post-thumbnail {
                margin-bottom: 1rem;
                max-height: 10rem;
                width: 100%;
                object-fit: cover;
            } // .attachment-post-thumbnail

            .entry-header,
            .entry-content {
                padding: 0 1rem;
            }

            .entry-content {
                margin: .6rem 0;
            } // .entry-content

            .read-more {
                font-size: 0.815rem;
                color: $gn-dark;
            } // .read-more

            .comments-link {
                display: none;
            } // .comments-link

            .entry-title {
                margin-bottom: .6rem;
            } // .entry-title

            .entry-meta {
                font-size: 0.667rem;
                color: $gn-dark; 
                text-transform: capitalize;
                
                .entry-date,
                .cat-links,
                .tags-links,
                .comments-link,
                .author,
                .posted-on {
                    a {
                        font-size: 0.667rem;
                    }
                }
            
                .cat-links {
                    &::before {
                        content: '•';
                        margin: auto .2rem;
                        font-size: 1rem;
                        top: .1rem;
                        position: relative;
                        display: inline-block;
                    } 
                } // .cat-links
            
                .tags-links {
                    display: block;
                    margin-left: 0;

                    a, a:visited {
                        text-transform: none;
                        font-weight: 600;

                        &::before {
                            content: '#';
                        }
                    } // a
                } // .tags-links 
            
                .posted-on {
                    a {
                        &::before {
                            content: "•";
                            margin: auto .2rem;
                            font-size: 1rem;
                            top: .1rem;
                            position: relative;
                            display: inline-block;
                        }
                    } // a
                } // .posted-on 
            } // .entry-meta
        } // .blog-post
    } // .blog-archive
} // .blog.hfeed, .search-results 
