.woocommerce-cart {
	background-color: $gn-white;

	.site-main {
		margin-bottom: 3rem;

		.entry-title.wrap {
			padding: 3rem 0 0 0;
			text-align: left;
		} // .entry-title 	

		.wrap { 
			padding: 0; 

			.woocommerce {
				.woocommerce-cart-form {
					.cart {
						&_item {
							background-color: $gn-colors-light;
							margin-bottom: 0.611rem;
							display: flex; 
							align-items: center;
							padding: .6rem 1.222rem .6rem 0rem;
							border: 1px solid $gn-orange;
							border-radius: 3px;
		
							@include media($tablet-portrait) {
								padding: .6rem 1.22rem;
							}
		
							.product-remove {
								width: 3.5rem;
								display: flex;
			
								.remove {
									box-shadow: none;
									border-radius: 0;
									font-size: 2rem;
									font-weight: 200;
									color: $gn-light-brown !important;
			
									&:hover {
										color: $gn-red !important;
										background-color: $gn-colors-light;
									}
								} // .remove 
							} // .product-remove
		
							.product-wrapper {
								width: 100%;
			
								.c-product-details {
									display: flex;
									margin-bottom: 1rem;
			
									.product-thumbnail {
										margin-right: .8rem;
			
										.attachment-woocommerce_thumbnail {
											width: 4.5rem;
											height: auto;
										} // .attachment-woocommerce_thumbnail
									} // .product-thumbnail
			
									.product-name {
										font-family: $font-serif !important;
										font-size: 1rem;
										font-weight: 700;
										display: flex;
										flex-direction: column;
										justify-content: center;
			
										a:link,
										a:visited {
											color: $gn-orange;
											text-decoration: none;
										}

									} // .product-name
								} // .c-product-details
			
								.c-product-quantity {
									display: flex;
									flex-wrap: wrap;
									align-items: center;
									margin-right: 1rem;
		
									.c-product-variation {
										margin-right: 1rem;
										.woovr-variation
										.c-variation {
											.variation {
												margin: 0 1rem 0 0;
		
												.variation-Weight {
													display: none;
												} // .variation-Weight
		
												.variation-weight {
													display: none !important;
												} // .variation-weight
		
												.variation-Quantity {
													display: none !important;
												} // .variation-Quantity
											} // .variation
										} // .c-variation
		
										.product-quantity {
											.quantity {
												min-width: 4.1rem;
												display: flex;
												flex-direction: row;
					
												input.qty {
													text-align: left;
													min-width: unset;
													width: auto;
													flex-grow: 1;
													-webkit-appearance: none;
													-moz-appearance: none;

													&::-webkit-outer-spin-button,
													&::-webkit-inner-spin-button,
													&[type=number] {
														-webkit-appearance: none;
														margin: 0;
														-moz-appearance: textfield;
													}
					
													@include media($tablet-landscape) {
														width: 4.5rem;
													} 
												} // input[type=number]

												.qty-button {
													border: 1px solid $gn-orange;
													border-radius: 3px;
													background: none;
													height: auto;
													align-self: stretch;
								
													.qty-button-arrow-plus,
													.qty-button-arrow-minus {
														height: 1px;
														width: 1px;
														align-self: center;
														background: none;
														border: 10px solid transparent;
														display: block;
													}
								
													.qty-button-arrow-plus {
														border-bottom: $gn-orange solid 12px;
														margin-bottom: 12px;
													}
								
													.qty-button-arrow-minus {
														border-top: $gn-orange solid 12px;
														margin-top: 12px;
													}
												}
								
												.qty-plus {
													margin-left: 12px;
												}
								
												.qty-minus {
													margin-right: 12px;
												}
											} // .quantity
										} // .product-quantity
									} // .c-product-variation
		
									.product-subtotal {
										line-height: 2;
		
										.woocommerce-Price-amount {} // .woocommerce-Price-amount
		
										.woocommerce-Price-currencySymbol {} // .woocommerce-Price-currencySymbol
									} // .product-subtotal
								} // .c-product-quantity
							} // .product-wrapper
			
							.variation-quantity {
								display: none;
							} // .variation-quantity
						} // .cart_item
		
						.actions {
							display: none;
						} // .actions
					} // .cart
				} // .woocommerce-cart-form
				
				.shipping-notice {
					background-color: $gn-colors-light;
					border-top: solid 3px $gn-orange;
					border-bottom: solid 3px $gn-orange;
					padding: 20px;
					text-align: center;
					margin-bottom: 0.611rem;
				}

				.cart-collaterals {
					.cart_totals {
						width: 100%;
						font-size: .8rem;
		
						h2 {
							font-size: 1rem;
						} // h2
		
						table.shop_table {
							border: none;
		
							tbody {
								td {
									border-top: none;
									text-align: right;
								} // td
		
								tr:nth-child(2n)  {
									td { 
										background-color: rgba(0,0,0,0); 
									} // td
								} // tr:nth-child(2n)
						
								td:last-child {
									border-bottom: 1px solid $gn-orange;
								} // td:last-child
						
								th {
									border-bottom: 1px solid $gn-orange;
									font-size: .8rem !important;
									text-transform: capitalize !important;
									padding-left: 0;
								} // th
		
								.cart-subtotal {
									.woocommerce-Price-amount {
										display: block;
										font-weight: 600;
									} // .woocommerce-Price-amount
								} // .cart-subtotal
		
								.shipping {
									.woocommerce-shipping-methods {
										text-transform: uppercase;
										
										.woocommerce-Price-amount {
											display: inline;
										} // .woocommerce-Price-amount
									} // .woocommerce-shipping-methods 
								} // .shipping
		
								.woocommerce-shipping-calculator {
									max-width: 100vw;
									overflow-x: hidden;

									td::before {
										display: none;
									}
								} // .woocommerce-shipping-calculator
		
								.order-total {
									.woocommerce-Price-amount {
										color: $gn-light-brown;
									} // .woocommerce-Price-amount
								} // .order-total
							} // tbody
						} // .shop_table –– pricing table
			
						.wc-proceed-to-checkout {
							display: flex;
							flex-direction: column;
							align-items: flex-end;
		
							.checkout-button {
								float: right;
								width: 100%;
		
								@include media($tablet-landscape) {
									width: 16rem;
								}
							} // .checkout-button
		
							.wcppec-checkout-buttons {
								margin: 0;
								overflow: visible;
								text-align: right;
								display: inline-block;
								width: 100%;
		
								@include media($tablet-landscape) {
									width: 16rem;
								}
		
								.wcppec-checkout-buttons__separator {
									display: none;
								} // wcppec-checkout-buttons__separator
							} // .wcppec-checkout-buttons –– paypal plugin buttons
						} // .wc-proceed-to-checkout
					} // .cart_totals
				} // .cart-collaterals
		
				.cart-empty {
					border-top: 3px $gn-dark solid;
		
					&:before {
						color: $gn-dark;
					}
				} // .cart-empty.woocommerce-info

				.return-to-shop {
					.button {
						width: 100%;
						text-align: center;

						@include media($tablet-landscape) {
							width: auto;
						}
					} // .button
				} // .return-to-shop 
			} // .woocommerce
		} // .wrap
	} // .site-main
} // .woocommerce-cart