.woocommerce-checkout {
    background: $gn-white;

    .wrap {
        padding: 0;
    } // .wrap

    .entry-title {
		padding: 1rem 0 0 0;
		text-align: left;
	} // .entry-title 

    .checkout {
        .create-account.woocommerce-validated {
            margin: 0;
    
            .woocommerce-form__label-for-checkbox {
                line-height: unset;
                height: auto;
            } // .woocommerce-form__label-for-checkbox
        } // .create-account.woocommerce-validated 
    
        .form-row.woocommerce-validated {
            input.input-text {
                border: 1px solid $gn-orange;
            } // input.input-text
    
            span {
                align-self: center; 
                margin: auto;
            } // span
        } // .form-row.woocommerce-validated
    
        .woocommerce-shipping-fields,
        .woocommerce-billing-fields {
    
            .form-row.form-row-first,
            .form-row.form-row-last {
                width: 100%;
    
                @include media($tablet-landscape) {
                    width: 47%;
                }
            } // .form-row.form-row-first,.form-row.form-row-last
        } // .woocommerce-shipping-fields, .woocommerce-billing-fields
    
        .woocommerce-checkout-review-order {
            table,
            tr,
            th,
            td {
                text-align: left !important;
            } // table, tr, th, td 
    
            td,
            th {
                padding: 1rem 0 !important;
            } // td, th
    
            .cart-subtotal,
            .order-total {
                .woocommerce-Price-amount {
                    color: $gn-light-brown;
                } // .woocommerce-Price-amount
            } // .cart-subtotal, .order-total
    
            table.shop_table.woocommerce-checkout-review-order-table {
                padding: .4rem 0rem;
                border: none;
    
                thead,
                tbody,
                tfoot {
                    tr.cart_item {
                        display: table-row !important;
    
                        td.product-total {
                            vertical-align: top !important;
                            display: table-cell !important;
        
                            span.woocommerce-Price-amount.amount {
                                margin-bottom: auto !important;
                                height: 100% !important;
                                display: block !important;
                                font-weight: 600 !important;
                            } // span.woocommerce-Price-amount.amount
                        } // td.product-total
                    } // tr.cart_item 
    
                    td {
                        display: table-cell !important;
                        vertical-align: top !important;
                    } // td
    
                    td.product-name {
                        br { 
                            display: none !important;
                        } // br
    
                        dl.variation { 
                            display: none !important; 
                        } // dl.variation
                       
                        .product-quantity {
                            margin-right: 1rem;
                        } // .product-quantity
                    } // td.product-name 
    
                    td,
                    th {
                        border: 0;
                        border-bottom: 1px solid $gn-orange;
                        padding: .4rem 0 !important;
                        line-height: 1.5rem;
                    } // td, th
    
                    th {
                        font-size: .8rem;
                        text-transform: unset;
                        letter-spacing: 0;
                    } // th
    
                    tr.cart_item,
                    tr.cart-subtotal,
                    tr.shipping,
                    tr {
                        display: table-row !important;
                        
                        td,
                        th {
                            border-bottom: 1px solid $gn-orange;
                        } // td, th
                    } // tr.cart_item, tr.cart-subtotal, tr.shipping, tr 
    
                    tr.order-total {
                        td,
                        th {
                            border: none;
                        } // td, th
                    } // tr.order-total 
                } // thead, tbody, tfoot 
            } // table.shop_table.woocommerce-checkout-review-order-table
        } // .woocommerce-checkout-review-order
    
        span#Ship_to_a_different_address {
            .woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
                lable.woocommerce-form__label woocommerce-form__label-for-checkbox checkbox {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                } // lable.woocommerce-form__label woocommerce-form__label-for-checkbox checkbox
            } // .woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox
        } // span#Ship_to_a_different_address
    
        .woocommerce,
        .woocommerce-page {
            form {
                .form-row-first,
                .form-row-last {
                    width: 100% !important;
                    display: block;
                    min-width: 0px !important;
                    float: none !important;
                } // .form-row-first, .form-row-last
            } // form
        } // .woocommerce-page, .woocommerce
    
        h3#ship-to-different-address {
            margin-bottom: 0 !important;
        } // h3#ship-to-different-address 
    
        h3#order_review_heading {
            margin: 0 0 1rem 0;
    
            #Your_order {
                font-size: 1rem;
                font-family: $font-sans !important;
            } // #Your_order
        } // h3#order_review_heading 
    
        .woocommerce-checkout-payment {
            background: white !important;
        } // .woocommerce-checkout-payment
    
        .wc_payment_methods.payment_methods.methods {
            padding: 0 !important;
            margin-bottom: 1rem !important;
            border: none !important;
    
            .woocommerce-notice.woocommerce-notice--info.woocommerce-info {
                padding: 0;
                background-color: white;
                border: none;
                color: $gn-red;
            } // .woocommerce-notice.woocommerce-notice--info.woocommerce-info
    
            .woocommerce-error::before,
            .woocommerce-info::before,
            .woocommerce-message::before {
                content: "";
            } // .woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before
        } // .wc_payment_methods.payment_methods.methods
    
        .form-row.place-order {
            padding: 0 !important;
            margin-bottom: 2rem;
    
            .woocommerce-terms-and-conditions-wrapper {
                margin-bottom: 2rem;
            } // .woocommerce-terms-and-conditions-wrapper
        } // .form-row.place-order
    } // .checkout
} // .woocommerce-checkout