.woocommerce-order-pay {
    #order_review {
        .shop_table {
            th, td {
                border: none !important;
            }

            td {
                vertical-align: top !important;
            }

            ul {
                padding: 0 !important;
            } 

            .order_item {
                .custom-attributes {
                    display: none;
                }

                br:first-child {
                    display: none;
                }
            }
        }

        #payment {
            background-color: $gn-light-orange !important;
            border: 1px solid $gn-orange !important;

            .wc_payment_methods, .woocommerce-terms-and-conditions-wrapper {
                padding: 0 !important;
            }

            .wc_payment_methods {
                border-bottom: 1px solid $gn-orange !important;
            }

            .form-row, .wc_payment_method {
                margin: 0 !important;
                padding: 1rem !important;
            }
        }
    }
}