.page-template-default {
    .hero {
        position: relative; 
        
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.75;
        } // .page_hero::after
        
        .entry-header { 
            position: relative;
            z-index: 2;
            text-align: center;
        } // .entry-header
    } // .page_hero
} // .page-template-default