//--------------------------------------------------------------
// Homepage
//--------------------------------------------------------------

.admin-bar.home {
	.site-main {
		margin-top: 5rem; 
		margin-bottom: 0;

		@include media($tablet-landscape) {
			margin-top: 5rem;
		}
	} // .site-main
} // .admin-bar

.home {
    .site-main {
        @include margin( 0 null );
    
        position: relative;
        margin-top: 2.6rem;
        margin-bottom: 0;
        width: 100%;
    
        @include media($tablet-portrait, $tablet-landscape) {
            margin-top: 5rem;
        }
    
        @include media($desktop) {
            margin-top: 3rem;
        }
    }
} // .home
