.page-my-account {
    .entry-title {
        max-width: 20rem;
        margin: 0 auto 2rem auto;
    } // .entry-title

    .woocommerce-form-login__submit {
        width: 100%; 
    
        @include media($tablet-portrait) {
            width: auto;
        } // $tablet-portrait
    } // .woocommerce-form-login__submit
} // .page-my-account