.page-my-account {
    background: $gn-white;

    .wrap {
        padding: 0;
    } // .wrap

    .entry-content {
        min-height: 30rem;
    } // .entry-content 

    .woocommerce {
        &-MyAccount-navigation {
            margin: 0 1rem;
            width: unset;

            @include media($tablet-landscape) {
                margin: 0;
                width: 22%;
            } // $tablet-landscape

            ul {
                padding: 0;

                .woocommerce-MyAccount-navigation-link--dashboard {
                    margin-top: 0;
                }

                li {
                    margin: 1rem 0;

                    a, a:link {
                        text-decoration: none;
                    }
                } //li
            } // ul
        } // .woocommerce-MyAccount-navigation

        &-MyAccount-content {
            padding: 0 1rem;
            width: 100%;

            @include media($tablet-landscape) {
                padding: 0 !important;
                width: 76%;
            }

            input[type="color"],
            input[type="date"],
            input[type="datetime-local"],
            input[type="datetime"],
            input[type="email"],
            input[type="month"],
            input[type="number"],
            input[type="password"],
            input[type="range"],
            input[type="search"],
            input[type="tel"],
            input[type="text"],
            input[type="time"],
            input[type="url"],
            input[type="week"],
            select,
            textarea {
                min-width: 100%;
            }

            .woocommerce-orders-table {
                &__header,
                &__cell  {
                    border: none;
                } 

                &__cell::before {
                    margin-right: 1rem;
                } // .woocommerce-orders-table__cell::before

                &__cell {
                    padding: .6rem .2rem !important;
                } // .woocommerce-orders-table__cell

                &__cell-order-actions {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    @include media($tablet-landscape) {
                        flex-direction: column; 
                    }
                } // .woocommerce-orders-table__cell-order-actions

                .woocommerce-button {
                    padding: .6rem .6rem !important;
                    width: 100%;
                    text-align: center;

                    @include media($tablet-landscape) {
                        padding: .2rem !important;
                    } 
                } // .woocommerce-button 

                .woocommerce-button.view {
                    color: $gn-white;
                    background-color: $gn-orange;

                    &:hover {
                        background-color: $color-rss;
                        color: $gn-white !important;
                    }

                    @include media($tablet-landscape) {
                        margin: .2rem 0;
                    }
                } // .woocommerce-button.view

                .woocommerce-button.pay {
                    color: $gn-white;
                    background-color: $gn-green;
                    margin-right: .4rem;

                    &:hover {
                        background-color: $gn-bright-green;
                        color: $gn-white !important;
                    }

                    @include media($tablet-landscape) {
                        margin-right: 0;
                    }
                } // .woocommerce-button.pay
                
                .woocommerce-button.cancel {
                    color: $gn-white;
                    background-color: $gn-red;
                    margin-left: .4rem;

                    &:hover {
                        background-color: $color-youtube;
                        color: $gn-white !important;
                    }

                    @include media($tablet-landscape) {
                        margin-left: 0;
                    }
                } // .woocommerce-button.cancel
            } // .woocommerce-orders-table

            .woocommerce-table--order-details {
                th, td {
                    border: none;
                }

                td {
                    display: table-cell;
                    vertical-align: top !important;
                }

                .wc-item-meta {
                    padding: 0;
                    margin: 0;

                    li:nth-child(2) {
                        display: none;
                    }
                } // .wc-item-meta

                .show-attributes-dimensions, .custom-attributes, br {
                    display: none;
                }
            } // .woocommerce-table--order-details

            .woocommerce-customer-details {
                h2.woocommerce-column__title {
                    font-size: 1.2rem;
                }

                .woocommerce-column--billing-address {
                    margin-bottom: 2rem;

                    @include media($tablet-landscape) {
                        margin-bottom: 0;
                    }
                } // .woocommerce-column--billing-address
            } // .woocommerce-customer-details 

            .woocommerce-addresses {
                margin-top: 2rem !important;

                @include media($tablet-landscape) {
                    margin-top: 0 !important;
                }

                .woocommerce-Address {
                    .woocommerce-Address-title {
                        display: flex;
                        flex-direction: column;
        
                        h3 {
                            margin-bottom: .4rem;
                        } // h3
        
                        .edit {
                            margin-bottom: .4rem;
                        } // .edit
                    } // .woocommerce-Address-title 

                    address {
                        font-style: normal;
                    }
                } // .woocommerce-Address
            } // .woocommerce-Addresses

            .woocommerce-address-fields {
                // DROPDOWN SELECT START
                .select2-selection--single {
                    height: 55px;

                    .select2-selection__arrow {
                        height: 55px;
                        position: absolute;
                        top: 1px;
                        right: 1px;
                        width: 20px;
                        
                        b {
                            height: 0;
                            left: 50%;
                            margin-left: -22px;
                            margin-top: -6px;
                            position: absolute;
                            top: 50%;
                            width: 0;
                            border-color: #e18222 transparent transparent;
                            border-width: 10px 8px 0;
                        }
                    } // .select2-selection__arrow
                } // .select2-selection--single

                .select2-container--open {
                    .select2-selection--single {
                        .select2-selection__arrow {
                            b {
                                height: 0;
                                left: 50%;
                                margin-left: -22px;
                                margin-top: -6px;
                                position: absolute;
                                top: 50%;
                                width: 0;
                                border-color: #e18222 transparent transparent;
                                border-width: 10px 8px 0;
                            }
                        }
                    }
                }
                // DROPDOWN SELECT END

                button {
                    color: $gn-white;
                    background-color: $gn-orange;
                    width: 100%;
                    margin: 1rem 0;

                    &:hover {
                        color: $gn-white;
                        background-color: $color-rss;
                    }
                }
            } // .woocommerce-address-fields

            .woocommerce-EditAccountForm {
                .form-row {
                    padding: 3px 0 !important;
                    margin: 6px 0 !important;
                
                    label {
                        text-transform: uppercase !important;
                        font-size: .6rem !important;
                    } // label
                } // .form-row
                
                legend {
                    text-transform: uppercase !important;
                    font-size: .6rem !important;
                } // legend

                button {
                    color: $gn-white;
                    background-color: $gn-orange;
                    width: 100%;
                    margin: 1rem 0;

                    &:hover {
                        color: $gn-white;
                        background-color: $color-rss;
                    }
                } // button
            } // edit account
        } // .woocommerce-MyAccount-content

        &-notices-wrapper + p {
            display: none;
        } // .woocommerce-notices-wrapper + p
    } // .woocommerce
} // .page-my-account