.tax-product_cat,
.post-type-archive-product {
    background-color: $gn-very-light-brown;

    .product_cat_hero {
        color: $gn-white;
        position: relative;
        padding: 2.556rem 1rem;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        } // .product_cat_hero::after

        .woocommerce_show_page__title {
            position: relative;
            height: 6rem;
            z-index: 2;
            text-align: center;
            position: relative;
            z-index: 2;
            text-align: center;
            background: url(assets/images/accent.png) center 2.4rem no-repeat;
            background-size: auto;
            background-size: 17rem;

            @include media($tablet-portrait) {
                background-size: 21rem;
            }
        } // .woocommerce_show_page__title
    } // .product_cat_hero
    
    ul.products,
    .products {
        margin: 2rem auto;

        @include media($tablet-portrait) {
            display: flex;
            flex-wrap: wrap;
        }

        &[class*=columns-] {
            li.single-product {
                padding: 0.6rem;
                box-shadow: 0 2px 7px 2px rgba(68, 114, 16, 0.15);
                background-color: $gn-white;
                border-radius: 3px;
                width: 100%;
                max-height: 16rem;
                display: flex;
                flex-direction: column;
                margin: 2rem auto 0 auto;
                cursor: pointer;
    
                @include media($tablet-portrait) {
                    width: 48%;
                } // $tablet-portrait
    
                @include media($tablet-landscape) {
                    width: 30%;
                } // $tablet-landscape
    
                a:link.woocommerce-LoopProduct-link {
                    color: $gn-brown;
                    text-decoration: none;

                    &:hover,
                    &:active,
                    &:visited {
                        color: $gn-light-brown;
                    } // a:hover, a:active, a:visited
                } // a:link
    
                .product {
                    padding: 0;

                    .woocommerce-loop-product__title {
                        margin-bottom: 1rem;
                        color: $gn-brown;
                        font-size: 1rem;
                        min-height: 2rem;
                    } // .woocommerce-loop-product__title
    
                    .product-details {
                        display: flex;
                        flex-direction: row;
                        font-size: .83rem;
    
                        a:link.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
                            width: 40% !important;

                            @include media($phone, $tablet-landscape) {
                                width: 30% !important;
                            } // $phone to $tablet-landscape
                        } // a:link.woocommerce-LoopProduct-link.woocommerce-loop-product__link
    
                        .image { 
                            width: 100%;
                            img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
                                border-radius: 1000px;
                            } // img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail 
                        } // .image
    
                        .description {
                            width: 60% !important;
                            padding: 0 0.556rem;

                            @include media($phone, $tablet-landscape) {
                                width: 70% !important;
                            } // $phone to $tablet-landscape

                            div.variations {
                                display: block !important;
                                min-height: 4rem;
                            } // .variations
    
                            p {
                                margin: 0;
                                font-weight: 500;
                                color: $gn-dark
                            } // p

                            .price {
                                display: none;
                            }
                        } // .description
                    } // .product-details
                } // .product
            } // li.single-product

            li.single-product:nth-child(1) {
                margin-top: 0;
            }

            @include media($tablet-portrait, $tablet-landscape) {
                li.single-product:nth-child(2) {
                    margin-top: 0 !important;
                } // li.single-product:nth-child(2)
            } // $tablet-portrait to $tablet-landscape

            @include media($tablet-landscape) {
                li.single-product:nth-child(1),
                li.single-product:nth-child(2),
                li.single-product:nth-child(3) {
                    margin-top: 0 !important;
                } // li.single-product:nth-child(1), :nth-child(2), :nth-child(3)
            } // $tablet-portrait to $tablet-landscape
        } // .columns-X
    } // .products
} // .archive.tax-product_cat.woocommerce.woocommerce-page.hfeed