.search {
    article.page {
        padding-top: 0.6rem;
    }

    .product {
        margin: 0 auto 3rem;
        max-width: 68.75rem;
        display: flex;
        padding: 0.6rem;

        .attachment-post-thumbnail {
            border-radius: 100%;
            justify-self: center;
            margin: 0;
        }
    }
}