.single-product.woocommerce-page {
    .site-main {
        margin-top: 7rem;
    }
    .product-description {
        margin-bottom: 3rem;
    }

    .ppom-label-item {
        font-size: .7rem !important;
        margin: 0 !important;
    }

    .ppom-wrapper .table th, .ppom-wrapper .table td {
        padding: 0;
    }

    .ppom-field-wrapper.quantity {
        margin: 0 !important;
        padding: 0 !important;
    }

    .ppom-option-price-list.ppom-product-base-price {

        .ppom-label-item,
        .ppom-price-item {
            padding: 0;
        }

        .ppom-label-item {
            text-align: left !important;
        }

        .table {
            th {
                padding: 0.75rem 0;
            }

            tr {
                display: flex;
                margin-bottom: .625rem;
                width: 100%;
                justify-content: space-between;
            }
        }
    }

    .woocommerce-product-details__short-description {
        margin-top: 2rem;
    }

    .price-table-row {
        td { 
            display: table-row;
        }
    }

    .custom-attributes {
        display: none !important;
    }

    background: $gn-white;

    header {
        h1.entry-title {
            color: $gn-brown;
            font-size: 2rem;
        }
    } // header

    .wrap {
        margin-bottom: 3rem;
    } // .wrap

    div.product {
        .summary.entry-summary {
            margin-bottom: 0;

            form.variations_form {
                margin-bottom: 0;
            } // form.variations_form 
        } // .summary.entry-summary

        input:after {
            display: flex;
            justify-content: center;
            align-content: center;
            background: $gn-orange;
        } // input:after
    } // div.product

    .entry-summary {
        margin: 0;

        .price {
            display: none;
        } // .price
    } // .entry-summary

    // THUMBNAIL START
    .woocommerce-product-gallery {
        .woocommerce-product-gallery__trigger {
            display: none;
        } // .woocommerce-product-gallery__trigger

        .woocommerce-product-gallery__image:first-child {
            margin-bottom: 1rem;
        } // .woocommerce-product-gallery__image:first-child

        .woocommerce-product-gallery__image {
            li {
                min-width: 3rem !important;
                max-width: 3rem !important;
                margin: 0.2rem !important;
                border: 1px solid #D8D8D8;

                .flex-active {
                    border: 1px solid $gn-brown;
                    box-shadow: 0px 0px 3px 2px hsla(32, 42%, 59%, .65);
                } // .flex-active
            } // li
        } // .woocommerce-product-gallery__image
    } // .woocommerce-product-gallery
    
    // THUMBNAIL END
    .woocommerce-variation-price {
        display: none;
    } // .woocommerce-variation-price

    // RADIO SELECT START
    .variations_form.woovr-variations {
        margin: 0;

        td.label,
        td.label label {
            display: none !important;
        }

        td.value {
            text-align: left;
            padding: 1rem 0 0 0;

            div {
                padding: .66rem;
                border: 1px solid $gn-orange;
                background: #FDF9F5;
                border-radius: 3px;
                display: flex;
                align-items: center;
                margin-bottom: 1.3rem;
                font-size: .66rem;

                input {
                    background: white;
                    border: 1px solid $gn-orange;
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: .66rem;
                }

                input:checked, input:hover, .woovr-variation { 
                    background-color: $gn-light-orange !important;
                }

                input:after {
                    background: $gn-orange;
                    top: -5px;
                    left: -5px;
                }
            }

            div:last-child {
                margin: 0;
                padding: 0;
            }

            a.reset_variations {
                display: none !important;
                visibility: hidden;
                text-decoration: none;
                box-shadow: none;
            }
        }
    }
    // RADIO SELECT END

    // DROPDOWN SELECT START
    .single_variation_wrap {
        margin: 0 !important;
        padding: 0 !important;

        .woocommerce-variation-price {
            margin-bottom: 1rem;

            .price {
                display: block;
            }

            span.woocommerce-Price-amount.amount {
                color: $gn-dark;
                font-weight: 500;

                &::before {
                    content: "Sub-Total: ";
                    font-size: 1.019rem;
                    font-weight: 300;
                }
            }
        }
    }

    .form-control-label {
        width: 6rem;
        margin: 0;
        line-height: 3rem;
        height: auto;
        font-size: .66rem;
    }

    .show_required {
        display: none;
    }

    select.select,
    select.select:focus {
        min-width: 0;
        background: url(assets/images/svg-icons/dowm-arrow.svg) no-repeat #fdf9f5 94% center;
        border: 1px solid $gn-orange;
        padding: .2rem;
        padding-left: .66rem;
        height: 3rem;
    }

    .ppom-input-quantity {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    input.qty {
        // display: none;
        display: block;
    }
    // DROPDOWN SELECT END

    .product-description {
        margin-top: 1rem !important;
    }

    .product-description,
    .product {
        display: block;
        overflow: auto;

        .product_meta {
            display: flex;
            flex-direction: column;

            .sku_wrapper {
                margin: 1.8rem 0 0;
            }

            .posted_in {
                margin: 1rem 0;

                a {
                    color: $gn-brown;
                    border-bottom: 1px solid $gn-grey;
                }
            }
        }
    }
}

.woocommerce {
    div.product {
        div.images {
            .flex-control-thumbs {
                margin-top: .4rem;

                li {
                    min-width: 3rem !important;
                    max-width: 3rem !important;
                    margin-right: 0.4rem !important;
                    border: 1px solid #D8D8D8;
                }
            }
        }
    }
}

.ppom-label-item,
.ppom-price-item {
    padding: 0;
}

// DONT DELETE THIS !!!!!!
// This is Vanilla CSS that is inserted into the PPOM Plugin under Custom CSS.
// This is the plugin that controls the radio selects on single product pages.
// If the plugin gets deleted, content gets deleted, or whatever this is the backup. 
//
// .ppom-wrapper .table th, 
// .ppom-wrapper .table td, 
// .ppom-wrapper .table-striped tbody tr:nth-of-type(2n+1) { 
//     border: none !important; 
//     background: none !important; 
// } 
//
// table, 
// table.table-striped.table { 
//     border: none !important; 
//     background: none !important; 
// } 
//
// td.value div:last-child { 
//     margin: 0; 
// } 
//
// .variations { 
//     margin: 0;
// } 
//
// option.ppom-variable-option { 
//     background: #FDF9F5; 
// }

// Radio Select Start
.variations {
    display: none !important;

    td.label,
    td.label label {
        display: none !important;
    }

    td.value {
        text-align: left;
        padding: 1rem 0 0 0;

        div {
            padding: .66rem;
            border: 1px solid $gn-orange;
            background: #FDF9F5;
            border-radius: 3px;
            display: flex;
            align-items: center;
            margin-bottom: 1.3rem;
            font-size: .66rem;

            input {
                background: white;
                border: 1px solid $gn-orange;
                width: 1.5rem;
                height: 1.5rem;
                margin-right: .66rem;
            }

            input:checked {
                background: #faf3ec;
            }

            input:after {
                background: $gn-orange;
                top: -5px;
                left: -5px;
            }
        }

        div:last-child {
            margin: 0;
            padding: 0;
        }

        a.reset_variations {
            display: none !important;
            visibility: hidden;
            text-decoration: none;
            box-shadow: none;
        }
    }
}

.woovr-variation {
    > div {
        display: flex;
        align-items: center;
    }
}

.woovr-variation-radio {
    display: flex;
    flex-direction: row;

    .woovr-variation-name {
        font-weight: 700;
    }

    .woovr-variation-selector {
        width: unset !important;
    }
}

// Radio Select End

// Quantity Select start
.variations_form {
    div.single_variation_wrap {
        margin: 0;
        padding: 0;
    
        div.woocommerce-variation-add-to-cart {
            div.quantity {
                margin-bottom: 1rem;
                display: flex;
                flex-direction: row;
                width: 100%;
        
                input.qty {
                    min-width: unset;
                    width: auto;
                    flex-grow: 1;
                    -webkit-appearance: none;
                    -moz-appearance: none;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button,
                    &[type=number] {
                        -webkit-appearance: none;
                        margin: 0;
                        -moz-appearance: textfield;
                    }
                } // input.qty

                .qty-button {
                    border: 1px solid $gn-orange;
                    border-radius: 3px;
                    background: none;
                    height: auto;
                    align-self: stretch;

                    .qty-button-arrow-plus,
                    .qty-button-arrow-minus {
                        height: 1px;
                        width: 1px;
                        align-self: center;
                        background: none;
                        border: 10px solid transparent;
                        display: block;
                    }

                    .qty-button-arrow-plus {
                        border-bottom: $gn-orange solid 12px;
                        margin-bottom: 12px;
                    }

                    .qty-button-arrow-minus {
                        border-top: $gn-orange solid 12px;
                        margin-top: 12px;
                    }
                }

                .qty-plus {
                    margin-left: 12px;
                }

                .qty-minus {
                    margin-right: 12px;
                }
            } // div.quantity
        } // div.woocommerce-variation-add-to-cart
    } // div.single_variation_wrap
} // .variations_form

.form-control-label {
    width: 6rem;
    margin: 0;
    line-height: 3rem;
    height: auto;
    font-size: .66rem;
}

.show_required {
    display: none;
}

select.select,
select.select:focus {
    min-width: 0;
    background: url(assets/images/svg-icons/dowm-arrow.svg) no-repeat #fdf9f5 94% center;
    border: 1px solid $gn-orange;
    padding: .2rem;
    padding-left: .66rem;
    height: 3rem;
}

.ppom-input-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
}

// Dropdown Select End

.product-description,
.product {
    display: block;
    overflow: auto;
}