//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------
//a.:not(.button):not(.wp-block-button__link)
a, a:link {
	opacity: 1;
	transition: $transition-color;
	color: $gn-burgundy;
	font-weight: 700;
    text-decoration: #bfbfbf solid underline;
	-webkit-text-decoration: #bfbfbf;
	text-underline-offset: .2rem;

	&:visited {
		color: $gn-dark-burgundy;
	} // a:visited

	&:hover, &:visited:hover {
		color: $gn-dark-burgundy;
		transition: $transition-color;
		opacity: 1;
	} // a:hover

	&:active {
		color: $gn-light-burgundy;
	} // a:active

	&:focus {
		color: $color-link-focus;
	} //  a:focus
} // a
