//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------
html {
	@include fluid-type(18px, 22px);
	color: #231F20;
	background-color: $gn-very-light-brown;
}

body,
button,
input,
select,
textarea {
	-moz-font-feature-settings: 'liga', 'kern'; // Control over advanced typographic features in OpenType fonts.
	-moz-osx-font-smoothing: grayscale; // Control the application of anti-aliasing when fonts are rendered in OS X.
	-webkit-font-smoothing: antialiased; // Control the application of anti-aliasing when fonts are rendered.
	color: $color-text-main;
	font-family: $font-sans;
	font-feature-settings: 'liga', 'kern'; // Control over advanced typographic features in OpenType fonts.
	line-height: $line-height-body;
	text-rendering: optimizeLegibility; // Improved kerning pairs & ligatures
} // body, button, input, select, textarea

//--------------------------------------------------------------
// Headers
//--------------------------------------------------------------

// Global Header Resets.
@for $i from 1 through 6 {
	h#{$i},
	.h#{$i} {
		margin-top: 0;
		font-family: $font-serif;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.5px;
		margin-bottom: 1rem;

	} // h#{$i}, .h#{$i}
} // end @for

.brown {
	color: #924E01;
}

h1,
.h1,
.has-large-font-size {
	font-size: rem(32); // HTML5 Default.
} // h1, .h1

h2,
.h2 {
	font-size: rem(24); // HTML5 Default.
} // h2, .h2

h3,
.h3 {
	font-size: rem(18.72); // HTML5 Default.
} // h3, .h3

h4,
.h4 {
	font-size: rem(18); // HTML5 Default.
} // h4, .h4

h5,
.h5 {
	font-size: rem(18); // Typically h5 isn't used, default to h4.
}  // h5, .h5

h6,
.h6 {
	font-size: rem(18); // Typically h6 isn't used, default to h4.
	text-transform: uppercase;
	font-family: $font-sans;
	font-size: 0.814rem;
} // h6, .h6

//--------------------------------------------------------------
// Copy
//--------------------------------------------------------------

p {
	@include margin(0 0 $space);

	// Remove margin from last paragraph in element.
	&:last-child {
		@include margin(0);
	} // &:last-child
} // p

.has-small-font-size {
	font-size: rem(12);
}

.has-huge-font-size {
	font-size: rem(50);
}

b,
strong {
	font-weight: 700;
} // b, strong

dfn,
cite,
em,
i {
	font-style: italic;
} // dfn, cite, em, i

blockquote,
q {
	font-size: rem(18.72);
	@include margin(0 $space $space);

	font-style: italic;
	quotes: '" "';

	&::before,
	&::after {
		content: '';
	}  // &::before, &::after
} // blockquote, q

blockquote {
	border-left: 4px solid $color-cod-gray;
	font-style: italic;
	margin-left: 0;
	padding-left: rem(20);

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

address {
	@include margin(0 0 $space);
} // address

pre {
	@include margin(0 0 $space rem(-24));
	@include padding($space);

	background-color: $color-background-pre;
	border: 1px solid $color-border-pre;
	color: $color-text-pre;
	font-family: $font-pre;
	font-size: rem(13);
	line-height: $line-height-pre;
	overflow: auto;
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
} // pre

code,
kbd,
tt,
var {
	font-family: $font-code;
	font-size: rem(15);
} // code, kbd, tt, var

kbd {
	background-color: $color-whitesmoke;
	border: 1px solid $color-silver;
	border-radius: rem(4);
	box-shadow: 0 rem(1) 0 rgba($color-black, 0.2), 0 0 0 rem(2) $color-white inset;
	display: inline-block;
	margin: 0 rem(3);
	padding: rem(2) rem(8);
}

code {
	background-color: $color-gallery;
	color: $color-tundora;
	padding: rem(2) rem(4);
}

abbr {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
} // abbr

mark,
ins {
	text-decoration: none;
} // mark, ins

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
} // sup, sub

sup {
	bottom: 1ex;
} // sup

sub {
	top: 0.5ex;
} // sub

small {
	font-size: 75%;
} // small

big {
	font-size: 125%;
} // big

// Word Wrapping
.entry-title,
.entry-content,
.comments-title,
.comment-content,
.widget-title,
.widget {
	word-break: keep-all;
	word-wrap: break-word;
} // .entry-title, .entry-content, .comments-title, .comment-content, .widget-title, .widget



h1.brown-22px{
	color: $gn-brown;
	font-size: 2.444rem;
	line-height: 43.9px;

}
h1.dark-18px{
	color: $gn-dark;
	font-size: 2rem;
	line-height: 35.1px;

}
h2.brown-22px{
	color: $gn-brown;
	font-size: 1.722rem;
	line-height: 40px;

}
h3.brown-22px{
	color: $gn-brown;
	font-size: 1.589rem;
	line-height: 37px;

}

h1.white{

	color: $gn-white;
	font-size: 1.5rem;
	line-height: 36px;
}
h4.brown-22px{
	color: $gn-white;
	font-size: 1.467rem;
	line-height: 34.2px;

}
h5.brown-22px{
	color: $gn-brown;
	font-size: 1.467rem;
	line-height: 31.5px;
	
}
h3.brown-18px{
	color: $gn-brown;
	font-size: 1.3rem;
	line-height: 30.4px;
}



p.dark.bold{
	color: $gn-dark;
	font-size: 1.222rem;
	line-height: 33px;

}
h4.brown-18px{
	color: $gn-brown;
	font-size: 1.2rem;
	line-height: 28px;
}
h5.brown-18px{
	color: $gn-brown;
	font-size: 1.1rem;
	line-height: 25.7px;
}


p.dark{
	color: $gn-dark;
	font-size: 1rem;
	line-height: 27px;

}
p.white{
	color: $gn-white;
	font-size: 1rem;
	line-height: 27px;
}

.align-center{
	align-items: center;
}

//////////////////
// colors class/////
///////////////////



.dark{
	&_color{
   color:  $gn-dark;
	}
	&_bg{
	 background-color:  $gn-dark;
	}
  }
  .dark-grey{
	  &_color{
		color:  $gn-dark-grey;
	  }
	&_bg{
		background-color:  $gn-dark-grey;
	}
  }
 