//--------------------------------------------------------------
//   COLOR VARIABLES
//     - Primary Colors
//     - Grayscale Colors
//     - Social Media Colors
//   ELEMENTS & SKINNING
//     - General
//     - Accessibility
//     - Links
//     - Forms
//     - Buttons
//     - Tables
//     - Modals
//     - Icons
//     - Comments
//     - WP/Gutenberg Blocks
//     - Navigation
//     - Scaffolding
//     - Sass Map for Theme Colors
//     - Sass Map for Social Media Colors
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

// sass-lint:disable no-color-keywords

//--------------------------------------------------------------
// COLOR VARIABLES
//--------------------------------------------------------------

//-----------------------------------------
// Primary Colors
//-----------------------------------------
$color-black:        #000;
$color-blue:         #1e85be;
$color-light-yellow: #fff9c0;
$color-white:        #fff;

$clr-dark-grey: #333333;
$orange-brown: #c66100; 
$color-white: #ffffff;
$grassy-green: #2dab04;
$clr-grey: #9b9b9b;
$sand-brown: #c19869;
$very-light-pink: #ebebeb;
$cinnamon: #924E01;
$greyish-brown: #444444;
$gn-white: #f4f4f4;
$puke-green: #9fab04;
$clr-darkest-grey: #231F20;

//-----------------------------------------
// Grayscale Colors
//-----------------------------------------
$color-alto:           #ddd;
$color-cod-gray:       #111;
$color-dove-gray:      #666;
$color-gallery:        #eee;
$color-gray-alt:       #929292;
$color-gray:           #808080;
$color-mineshaft:      #333;
$color-silver-chalice: #aaa;
$color-silver:         #ccc;
$color-tundora:        #454545;
$color-whitesmoke:     #f1f1f1;

//-----------------------------------------
// Social Media Colors
//-----------------------------------------
$color-facebook:  #3b5998;
$color-instagram: #517fa4;
$color-linkedin:  #007bb6;
$color-pinterest: #cb2027;
$color-rss:       #f90;
$color-twitter:   #00aced;
$color-youtube:   #b00;


//-------------------------------------------
// GN custom colors
//-------------------------------------------
  $gn-white: #ffffff;
  $gn-colors-light-grey: #ededed;
  $gn-dark: #231f20;
  $gn-grey: #9b9b9b;
  $gn-dark-green: #468300;
  $gn-green: #84bf41;
  $gn-bright-green: #8dd939;
  $gn-muted-green: #9fc19c;
  $gn-very-light-green: #f7f9f5;
  $gn-dark-burgundy: #810C0C;
  $gn-burgundy: #B24128;
  $gn-light-burgundy: #B47365;
  $gn-dark-brown: #5A301E;
  $gn-brown: #8D4C27;
  $gn-light-brown: #c39a6b;
  $gn-very-light-brown: #f4ebe1;
  $gn-orange: #e18222;
  $gn-bright-orange: #ff8300;
  $gn-light-orange: #faf3ec;
  $gn-yellow: #E2CD14;
  $gn-bright-yellow: #FFE600;
  $gn-light-yellow: #FFFEF3;
  $gn-red: #b81c23;
  $gn-dark-red: #a2171e;
  $gn-blue: #1e85be;
  $gn-dark-blue: #176f9f;
  $gn-dark-grey: #2b2728; 
  $gn-colors-light: #fafafa;
  $gn-colors-light-red: #ffeeee;
  $gn-overlay-1: rgba(35, 31, 32, 0.78);


//-----------------------------------------
// Sass Map for Theme Colors
//-----------------------------------------

/// Sass map used for creating color presentational classes.
$theme-colors: (
	brown: $gn-brown,
	light-brown: $gn-light-brown,
	very-light-brown: $gn-very-light-brown,

	dark-green: $gn-dark-green,
	green: $gn-green,
	bright-green: $gn-bright-green,
	muted-green: $gn-muted-green,
	very-light-green: $gn-very-light-green,

	yellow: $gn-yellow,
	bright-yellow: $gn-bright-yellow,
	light-yellow: $gn-light-yellow,

	orange: $gn-orange,
	bright-orange: $gn-bright-orange,
	light-orange: $gn-light-orange,

	red: $gn-red,
	light-red: $gn-colors-light-red,
	
	white: $gn-white,
	light-grey:	$gn-colors-light-grey,
	dark: $gn-dark,
	grey: $gn-grey,
	dark-grey: $gn-dark-grey,
	colors-light: $gn-colors-light,
	overlay-1:$gn-overlay-1,
);


//--------------------------------------------------------------
// ELEMENTS & SKINNING
//--------------------------------------------------------------

//-----------------------------------------
// General
//-----------------------------------------

/// Background color.
$color-background-body: $color-white;

/// Main text color.
$color-text-main: $color-cod-gray;

/// Pre Background color.
$color-background-pre: $color-whitesmoke;

/// Pre Border color.
$color-border-pre: $color-silver;

/// Pre text color.
$color-text-pre:  $color-gray;

/// Code background color.
$color-background-code: $color-alto;

/// Horizontal Rule.
$color-background-hr: $color-silver;

/// Abbreviations.
$color-border-abbr: $color-dove-gray;

/// Box shadows.
$color-box-shadow: rgba($color-black, 0.5);

/// Overlays.
$color-overlay: rgba($color-black, 0.3);


//-----------------------------------------
// Accessibility
//-----------------------------------------

/// Screen reader background color.
$color-background-screen-reader: $color-whitesmoke;

/// Screen reader text color.
$color-text-screen-reader: $color-blue;


//-----------------------------------------
// Links
//-----------------------------------------

/// Links.
$color-link: $sand-brown;

/// Visited Links.
$color-link-visited: $sand-brown;

/// Hovered Links.
$color-link-hover: $sand-brown;

/// Focus LInks.
$color-link-focus: $gn-green;


//-----------------------------------------
// Forms
//-----------------------------------------

/// Button background.
$color-background-button: $color-dove-gray;

/// Button background on hover.
$color-background-button-hover: $color-mineshaft;

/// Button text.
$color-text-button: $gn-white;

/// Input border.
$color-border-input: $gn-orange;

/// Input focused color.
$color-focus-text-input: $clr-dark-grey;

/// Input text.
$color-text-input: $color-dove-gray;


//-----------------------------------------
// Buttons
//-----------------------------------------

$color-cta-link: $color-white;


//-----------------------------------------
// Tables
//-----------------------------------------

$color-border-table: $color-silver;


//-----------------------------------------
// Modals
//-----------------------------------------

/// Modal Content Background.
$color-background-modal: $color-white;

/// Modal Close Background.
$color-background-modal-close: $color-black;

/// Modal Close Colors.
$color-modal-close: $color-white;


//-----------------------------------------
// Icons
//-----------------------------------------

/// Close Icon Background.
$color-background-icon-close: $color-cod-gray;

/// Down Arrow Background Color.
$color-background-down-arrow: $color-link;


//-----------------------------------------
// Comments
//-----------------------------------------

/// Comment border.
$color-border-comment: $color-silver;

/// Comment focus border.
$color-border-comment-focus: $color-mineshaft;

/// Comment even background.
$color-background-even: $color-gallery;

/// Comment odd background.
$color-background-odd: $color-whitesmoke;

/// Comment response background.
$color-comment-response: $color-white;

/// Comment meta links.
$color-meta-links: $color-tundora;

/// Comment post author background.
$color-background-author: $color-light-yellow;


//-----------------------------------------
// WP/Gutenberg Blocks
//-----------------------------------------

/// Block button background.
$color-background-block-button: $color-mineshaft;

/// BLock pullquote.
$color-border-block: $color-silver;


//-----------------------------------------
// Navigation Variables
//-----------------------------------------

/// Mobile menu link.
$color-mobile-menu-link: $color-link;

/// Hamburger background.
$color-background-hamburger: $color-cod-gray;

/// Off-canvas Container Background.
$color-background-off-canvas: $color-whitesmoke;

/// Off-canvas Screen Background.
$color-background-off-canvas-screen: $color-black;

/// Submenu Background.
$color-background-submenu: $color-white;


//-----------------------------------------
// Scaffolding
//-----------------------------------------

/// Scaffolding header border.
$color-border-scaffolding: $color-alto;

/// Scaffolding swatch border.
$color-border-scaffolding-swatch: $color-alto;

/// Scaffolding color.
$color-scaffolding: $color-alto;

/// Scaffolding background color.
$color-background-scaffolding: $color-white;


//-----------------------------------------
// Sass Map for Social Media Colors
//-----------------------------------------

/// Social media `$social-colors()` map
$social-colors: (
	facebook-square:$gn-light-brown,
	facebook:$gn-light-brown,
	instagram-square: $gn-light-brown,
	instagram: $gn-light-brown,
	linkedin-square:$gn-light-brown,
	linkedin:$gn-light-brown,
	pinterest-square:$gn-light-brown,
	pinterest:$gn-light-brown,
	rss-square: $gn-light-brown,
	rss:$gn-light-brown,
	twitter-square: $gn-light-brown,
	twitter: $gn-light-brown,
	youtube-square: $gn-light-brown,
	youtube:$gn-light-brown,
);


.color-brown {
	a  {
	color: $gn-brown !important;
	}
}

.color-dark-green {
	a {
		color: $gn-dark-green !important;
	}
}

.color-bright-yellow {
	a {
		color: $gn-bright-yellow;
	}
}
