//--------------------------------------------------------------
// Media Query Breakpoints and Grid Options
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

//-----------------------------------------
// Grid Values – Used for general Sass/styling. Note the rem values!
//-----------------------------------------
$max-width: rem(1100);

///-----------------------------------------
// Breakpoints – Used for Media Query Mixins only. Note the px values!
//-----------------------------------------
/// Larger HD Desktops
$desktop-large: 1800px;

/// Gutenberg backend breakpoints
$gutenberg-tablet: 1330px;

/// Standard Desktops and Larger Laptops
$desktop: 1200px;

/// Container width
$container: 1100px;

/// Wrap width
$wrap: 782px;

/// Container width, $contaner plus $gutter padding
$container-offset: 1194px;

/// Smaller Desktops and Standard iPad Tablet
$tablet-landscape: 900px;

/// Breakpoint for WP Admin Bar
$wp-admin-bar: 783px;

/// Smaller Tablets and Standard iPad Portrait
$tablet-portrait: 600px;

/// Phones Smaller Than 500px in Width
$phone: 376px;

//-----------------------------------------
// Numeric values for padding/margin helper classes
//-----------------------------------------
$spacing-options: 15, 20, 30, 35, 40, 50, 100;

//-----------------------------------------
// Default width of the gutters
// Used for padding on mobile
//-----------------------------------------
$gutter: rem(18);

//-----------------------------------------
// Spacer
// Utilized anywhere spacing is set
//-----------------------------------------
$space: rem(24);
