//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////


@font-face {
    font-family: "Times";
	src: url("assets/fonts/Times.ttc") format("ttc");
}


/// Define sans font.
$font-sans: 'helvetica', sans-serif;

/// Define serif font.
$font-serif: 'Georgia', Times, Times New Roman, serif;

/// Define monospace font.
$font-code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;

/// Define pre font.
$font-pre: 'Courier 10 Pitch', Courier, monospace;

/// Define global line-height.
$line-height-body: lh(26, 16);

/// Define line-height for `<pre>`.
$line-height-pre: $line-height-body;
