.widget_products {
    @include media($tablet-landscape) {
        position: sticky;
        top: 7rem;
    }
} // .widget_products

.product_list_widget {
    .s-product {
        display: flex;
        align-items: center;
            
        .image {
            width: 20%;
            border-radius: 1000px;
            overflow: hidden;

            img {
                width: 100%;
                margin-left: 0;
            }
        } // .image

        .sidebar-variation {
            width: 80%;
            display: flex;
            flex-direction: column;

            a {
                line-height: 1;
            }
            
            .product-title {
                font-family: $font-serif;
                font-size: .7rem;
                margin-left: 0;
                margin-bottom: .4rem !important;
                display: inline-block;
            } // .product-title

            span {
                font-size: 0.667rem;
                margin: 5px;
            }
        } // .sidebar-variation
    } // .s-product
} // .product_list_widget


.widget_products {
    .product_list_widget {
        li {
            padding-bottom: 0.8rem !important;
            // border-top: solid 1px $gn-light-brown;
            // border-right: solid 1px $gn-light-brown;
            // border-left: solid 1px $gn-light-brown;
            // background-color: $gn-white;
            
            &:last-child {
                // border-bottom: solid 1px $gn-light-brown;
            }

            .sidebar-variation {
                margin: 0 0 0 .8rem !important;
                
                span:not(.product-title) {
                    line-height: 1;
                    margin: 0 .8rem 0 0 !important;
                }
            }
            
            a:not(.button):not(.wp-block-button__link) {
                box-shadow: none !important;
            }

            a {
                color: $gn-brown;

                &:not(.button):not(.wp-block-button__link):visited {
                    color: $gn-brown;
                }

                img {
                    float: none !important;
                }
            } // a
        } // li
    } // .product_list_widget 
} // .widget_top_rated_products, .widget_products 
