.woocommerce-notices-wrapper {
    .woocommerce-info {} // .woocommerce-info –– default

    .woocommerce-message {
        color: $gn-dark;
        border-top-color: $gn-orange;
        background-color: $gn-light-orange;
        font-size: 1rem;

        &::before {
            content: "";
            color: $gn-orange;
        }

        .restore-item {
            color: $gn-orange;
            font-weight: 600;

            &:hover {
                color: $gn-green;
            }

            &:visited {
                color: $gn-orange;
            }
        } // .restore-item
    } // .woocommerce-message –– success
    
    .woocommerce-error {} // .woocommerce-error –– error

    .return-to-shop {
        margin-top: 0;
    }
} // .woocommerce-notices-wrapper