//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------

.widget {
	@include margin(0 0 $space);

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	} // select

	// Extend the h3 style for the widget titles.
	.widget-title {
		font-size: .8rem;
		letter-spacing: 2px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		font-family: $font-sans;
		color: $gn-dark-brown;
	} // .widget-title
} // .widget

.widget_search {
	.search-submit {
		display: none;
	} // .widget_search

	.search-form {
		display: flex;
		align-items: center;

		label {
			width: 70%;

			.search-field {
				padding: .275rem .625rem;
				width: 100%;
				border-radius: 4px;
				box-shadow: 0 2px 14px 0 rgba(35,31,32,.16);
				border: 1px solid $gn-light-brown;
			}
		}
		
		.button-search {
			width: 30%;
			background-color: $gn-orange;
		}
	}
}

.widget_products.woocommerce {}